@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
/* colors */
.color1{
    /*background-color: #a94442;*/
}
.color2{

}
.color3{

}
.navbar-inverse{
    z-index: 200;

    background-color: #fff;
    border-color : transparent;
}
body{
    background-color: rgba(96,97,99,0.05) !important;
}
/* ui-bootstrap*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* fonts */
html{
    font-family: 'PT Sans', sans-serif;
}


/* angular js animation */
.animate-if {
    background:white;
    border:1px solid black;
    padding:10px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
    opacity:1;
}

/* reset-css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: 'PT Sans', sans-serif;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* my styles */
.filters_box{
    margin-top : 0px!important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color: inherit;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover{
    border-bottom-color: rgba(255,231,231,0.3);
}
.hotel-tabs-content{
    margin-top : 20px;
}
.panel-heading>a{
    text-decoration: none;
}
.white-background-box{
    background-color: white;
    padding :10px;
    z-index: 1;
    margin-top : 20px;
    margin-right: 0;
    margin-left: 0px;
    box-shadow: 0 0 4px #bce8f1;
}
.breadcrumb{
    background-color: inherit;
}
.help-block{
    color : #a94442;
}
.body-wrap{
    background: #fff;
    height: 100%;
}
.body-wrap .container .container{
    padding: 0px;
    margin: 0px;
    width: auto;
}
/*.modal-dialog {*/
    /*display: inline-block;*/
    /*text-align: left;*/
    /*vertical-align: middle;*/
/*}*/
.mynavbar {
    border-radius: 0;
    /*margin-bottom: px;*/
    /*padding: 10px 0;*/
    /*background: #4d4d4d;*/
    /*height: 60px;*/
}

.logo {
    display: block;
}
.logo img {
    width: auto;
}
.user-top-menu{
    color : white;
}
.user-top-menu > ul > li > a {
    text-decoration: none;
    color : white;
}
.location-search-bar{
    max-height: 60px;
}


.list-horizontal > li,
.list-inline > li {
    float: left;
    margin-right: 10px;
    padding: 0;
    display: block;
}
.list-horizontal > li:last-child,
.list-inline > li:last-child {
    margin-right: 0;
}
.list-horizontal.list-border > li,
.list-inline.list-border > li {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(0,0,0,0.13);
}
.list-horizontal.list-border > li:last-child,
.list-inline.list-border > li:last-child {
    margin-right: 0;
    padding-right: 0;
    border: none;
}
.list-horizontal:after,
.list-inline:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* go-to top */
#gotop{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 14px;
    border-radius: 2px;
    color: white;
    z-index: 999;
    cursor: pointer;
    background: #333;
}
#gotop a{
    color: white;
}
#gotop:hover{
    background: #fac11c;;
}