<div ng-include = "'./templates/header.tpl.html'"></div>
<div class="gap gap-big"></div>

<div class="container">
    <div class="row">
        <div class="text-left font35 text-dark-grey">Frequently Answered Questions</div>
        <!--<div class="gap"></div>-->
        <div class="gap">
            <div class="text-left font25 bold text-dark-grey">
                What is <span class="text-red bold">CaterWow</span>?
            </div>
            <div class="text-left cw-text text-grey">
                <span class="text-red bold">CaterWow</span> is a platform designed to get you a great deal from some of the most reputed restaurants/ kitchens that do not normally cater or have bulk discounts or packages. We pre-negotiate packages for various price ranges from our curated partners and provide you with a one stop solution for your catering requirements.
            </div>
        </div>
        <div class="gap">
            <div class="text-left font25 bold text-dark-grey">
                Do you deliver? Does it cost extra?
            </div>
            <div class="text-left cw-text text-grey">
                Yes, <span class="text-red bold">CaterWow</span>, delivers your order directly to the venue of your gathering as per your given guidelines of timings, plating and presentation, etc. The delivery does not cost extra, but plates, waiters, tables, etc. would be charged extra and pre-negotiated in a transparent manner with no extra costs to the pre-negotiated pricing/ budget.
            </div>
        </div>
        <div class="gap">
            <div class="text-left font25 bold text-dark-grey">
                I can’t find a restaurant I like, what can I do?
            </div>
            <div class="text-left cw-text text-grey">
                The restaurants and kitchens we work with, are carefully curated and cover a wide range of cuisines offered and we are adding to our network, with the best pricing and packages, everyday.
                If you want one of your personal favorites to be added to our network, let us know, at <a href="mailto:support@caterwow.com">support@caterwow.com</a> and we’ll see if they can meet our criteria of quality standards and believe in providing a solution for your catering requirements.
            </div>
        </div>
        <div class="gap">
            <div class="text-left font25 bold text-dark-grey">
                How do I order through <span class="text-red bold">CaterWow</span>?
            </div>
            <div class="text-left cw-text text-grey">
                You can place your order through the website, by call us on ______ or by speaking to your relationship manager.
            </div>
        </div>
        <div class="gap">
            <div class="text-left font25 bold text-dark-grey">
                Do I need to create an account to order with <span class="text-red bold">CaterWow</span>?
            </div>
            <div class="text-left cw-text text-grey">
                No, you don’t have to create an account but creating an account with us will allow you to be able to do many more amazing customizations as our platform develops in the future. Also, you can manage your orders with us all without any intervention and also stand to get promotional discounts exclusive to our regular customers.
            </div>
        </div>
        <div class="gap">
            <div class="text-left font25 bold text-dark-grey">
                Can I cancel my order?
            </div>
            <div class="text-left cw-text text-grey">
                Yes, but please note that cancellation terms differ for every restaurant/ kitchen, we would like to ask you to make a note of the cancellation terms prior to making your order.
                The cancellation terms differ as not all preparations are the same and some cuisines or menu items require a longer time frame. <span class="bold">(Please define if any refund at all takes place)</span>
            </div>
        </div>
        <div class="gap">
            <div class="text-left font25 bold text-dark-grey">
                What is the minimum order size?
            </div>
            <div class="text-left cw-text text-grey">
                <span class="text-red bold">CaterWow</span> serves its prices and discounts based on a 10 people gathering/ event. If you are 8 or 9 people, we would still have to charge you for 10 people and we would provide the food portions based on a 10 people headcount.
            </div>
        </div>
        <div class="gap">
            <div class="text-left font25 bold text-dark-grey">
                How do I pay for my order?
            </div>
            <div class="text-left cw-text text-grey">
                Currently, we do not offer any online payment solution. We accept cash, cheque or bank transfer. We are working hard to be able to offer you more convenience and security towards your payments.
            </div>
        </div>
        <div class="gap">
            <div class="text-left font25 bold text-dark-grey">
                Does <span class="text-red bold">CaterWow</span> offer any credit?
            </div>
            <div class="text-left cw-text text-grey">
                <span class="text-red bold">CaterWow</span> does not offer any credit and only asks for 30% non-refundable advance to confirm your order. Upon delivery, the reminder amount must be presented.
            </div>
        </div>
        <div class="gap">
            <div class="text-left font25 bold text-dark-grey">
                Is there a minimum order value for delivery?
            </div>
            <div class="text-left cw-text text-grey">
                No, if there is a package worth Rs. 150 per person, all you have to do is, order that package <span class="bold">(or mix and match with other packages)</span> for 10 people, which will be delivered to your provided delivery address as per your requested time.
            </div>
        </div>
        <div class="gap">
            <div class="text-left font25 bold text-dark-grey">
                What if the food is not to my satisfaction or delivered late?
            </div>
            <div class="text-left cw-text text-grey">
                We hold high standards for our restaurant partners, with emphasis placed on food quality and timeliness. We monitor each delivery from preparation to the moment it arrives at your given location. If an order is late or incorrect, we’ll do all we can to make it right.
            </div>
        </div>
        <div class="gap">
            <div class="text-left font25 bold text-dark-grey">
                Can I mix items from different restaurants to make a package myself?
            </div>
            <div class="text-left cw-text text-grey">
                Yes, if you want to make a menu of your choice, please get in touch with us or your dedicated relationship manager who will work out a pricing for your request.
            </div>
        </div>
        <div class="gap">
            <div class="text-left font25 bold text-dark-grey">
                Does <span class="text-red bold">CaterWow</span> also arrange other requirements?
            </div>
            <div class="text-left cw-text text-grey">
                Yes, <span class="text-red bold">CaterWow</span> can arrange for special requests given a proper timeframe. We would like to urge our customers to let us know of any special requirements. Currently, we can offer live barbeque, full banquet experience at home and are working on new requests as they come in.
            </div>
        </div>
        <div class="gap">
            <div class="text-left font25 bold text-dark-grey">
                How do we make sure our guests get enough to eat?
            </div>
            <div class="text-left cw-text text-grey">
                Our account managers are experts in portioning each dish to headcount. A typical spread will include a vegetable, starch, and a proportionate amount of protein per person. If your guests prefer an additional protein, fewer starchy sides, or more greens; we can try and arrange those adjustments.
            </div>
        </div>
        <div class="gap">
            <div class="text-left font25 bold text-dark-grey">
                Do prices vary with my order size?
            </div>
            <div class="text-left cw-text text-grey">
                Yes, with certain partners, <span class="text-red bold">CaterWow</span> is able to offer you prices that decrease with an increase in head count. This does not apply with all partners, so prices could be different from time to time. Also, such pricing could change at any time, without any prior notice, based on the decision from our partners, we will however try our best to not let it impact any placed orders with <span class="text-red bold">CaterWow</span>.
            </div>
        </div>
        <div class="gap">
            <div class="text-left font25 bold text-dark-grey">
                When are you going to be in our city?
            </div>
            <div class="text-left cw-text text-grey">
                Currently we serve Gurgaon, and other parts of Delhi NCR, but we are growing quickly and plan to expand further soon. Stay tuned!
            </div>
        </div>
    </div>
</div>


<div class="gap"></div>

<ng-include src = "'./templates/footer.tpl.html'"></ng-include>