<div class="row">
    <div class="col-md-12">
        <p>{{hotel.long_description}}<br><br></p>
    </div>
</div>


<div class = "row">
    <div class = "col-md-4">
        Days Open
    </div>
    <div class = "col-md-4">
        Open time
    </div>
    <div class = "col-md-4">
        Close time
    </div>
    <div class="col-md-12"><hr></div>
</div>

<div class="row" ng-repeat="hotelTimings in hotelSchedule" ng-show="{{hotelTimings.open}}">
    <div class="col-md-4">
        {{hotelTimings.days}}
    </div>
    <div class="col-md-4">
        {{hotelTimings.open_time}}
    </div>
    <div class = "col-md-4">
        {{hotelTimings.close_time}}
    </div>
    <div class="col-md-12"><hr></div>
</div>

