<div id = "packages" class = "tab-content">
    <!--{{hotelPackages}}-->


    <uib-accordion close-others="false">
        <uib-accordion-group ng-repeat="hotelPackage in hotelPackages">
            <uib-accordion-heading>
                 {{hotelPackage.name}} {{hotelPackage.price}} per person
                <p><br>{{hotelPackage.description}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></p>
            </uib-accordion-heading>
            <div class = "row white-background-box"  ng-repeat="package_item in hotelPackage.packageDetails">
                <h1>{{package_item.name}}</h1>
                <p>{{package_item.description}} <button ng-click="open(package_item)" class = "btn btn-primary" >Add</button></p>
            </div>
        </uib-accordion-group>
    </uib-accordion>


</div>
<ng-include src="'templates/modalTemplates/menuPackageModal.tpl.html'"></ng-include>
<script type="text/ng-template" id="myPopoverTemplate.html">
    <div>{{dynamicPopover.content}}</div>
    <div class="form-group">
        <label>portioning stuff</label>
    </div>
</script>