<div id = "packages" class = "tab-content">
    <!--{{hotelPackages}}-->
    <div class="col-md-12" ng-if = "loadingRestaurantPackages">
        <!--<div class="gap"></div>-->
        <h4 class="text-middle text-dark-grey"><i class="fa fa-spinner fa-pulse"></i></h4>
        <h4 class="text-middle text-dark-grey">Loading Packages</h4>
    </div>


    <div class="package" ng-repeat="hotelPackage in hotelPackages">
        <div class="pointer" ng-init="isPackageCollapsed[hotelPackage.id] = true" ng-click="isPackageCollapsed[hotelPackage.id] = !isPackageCollapsed[hotelPackage.id]">
            <div class = "float-left">
               <div class="bold font20 text-red" > {{hotelPackage.name}}</div>
            </div>
            <div class="package_price float-right" ng-if = "hotelPackage.price">Rs. {{hotelPackage.price}} per person <span  ><i class="fa fa-info-circle text-red"></i></span> </div>
            <div class="package_price float-right" ng-if = "!hotelPackage.price">Rs. {{hotelPackage.price_min}} - {{hotelPackage.price_max}} per person <span ng-click = "console.log('this'); $event.stopPropagation(); " ><i class="fa fa-info-circle text-red"></i></span>  </div>
            <div ng-if = "showPriceDetails">
                <span ng-repeat="pricerange in hotelPackage.pricing">
                    {{pricerange.min_pax}} - {{pricerange.max_pax}} packages : Rs. {{pricerange.price_per_person}} <br>
                </span>
            </div>
            <div style="clear: both"></div>
            <div class = "package_item_des float-left font13" >{{hotelPackage.description}}</div>
            <div class="float-right"><span ng-if = "isPackageCollapsed[hotelPackage.id]"><i class="fa fa-caret-right fa-lg"></i></span>
                <span ng-if = "!isPackageCollapsed[hotelPackage.id]"><i class="fa fa-caret-down fa-lg"></i></span></div>
                        <div class="row"><div class="col-md-12"><hr class="bg-grey no-margin"></div></div>
                        <div style="clear: both"></div>
        </div>
        <div uib-collapse="isPackageCollapsed[hotelPackage.id]">
        <!--</div>-->
                <div class="row itemseo">
                <!--<div >-->
                    <div class="col-md-6 padding-5" ng-repeat="package_item in hotelPackage.packageDetails" ng-click="openM(package_item,package)">
                        <div class="menu-item">
                            <div class="font15 bold text-dark-grey">{{package_item.name}} <span class="text-red float-right"  ng-if="!package[package_item.id]">{{packageError[package_item.id]}}</span></div>
                            <div class="text-grey font13">{{package_item.description}}</div>
                            <hr class="bg-light-grey" style="margin-bottom: 5px; margin-top: 5px;">
                            <!--<div class="selected_package_items">   {{itemsSelected[package_item.id]}}</div>-->
                            <div class="font13">
                            <span ng-if="package_item.has_options"><span class="text-light-grey" ng-if="!package[package_item.id]">No Option Selected</span></span>
                            <span class="text-green" ng-repeat="option in package[package_item.id]">
                            {{itemOptionCategories[package_item.id][option[0].menu_item_option_id]}} :
                            <span class="bold text-green" ng-repeat = "item in option">  {{ item.name }} <span ng-if = "item.price">(Rs. {{item.price}} extra)</span>|</span>
                             </span>
                            </div>
                        </div>
                    <!--</div>-->
                    </div>
                </div>

            <div class="row">
                <div class="col-md-12">
                    <textarea class="form-control" placeholder="Additional Instruction (Optional)" ng-model = "addInfo[hotelPackage.id]"></textarea>
                </div>
            </div>
            <div class="gap gap-mini"></div>
            <!--<div style="clear: both"></div>-->
            <div class="row">
                <div class="col-md-5">
                    <div class="col-md-8 bold font20" style="line-height: 34px">Number Of Packages</div>
                    <!--<span ng-controller="locationSearchController" ng-init = "numberOfPackages[hotelPackage.id] = numberOfPersons"></span>-->
                    <div class="col-md-3">
                        <input class="form-control padding-5"  ng-init = "numberOfPackages[hotelPackage.id] = pax" type="number" max = 100 min = 10 ng-change = "calculateTotalPrice(hotelPackage)" ng-model = "numberOfPackages[hotelPackage.id]">
                    </div>
                    <!--<span ng-click="numberOfPackages[hotelPackage.id] = numberOfPackages[hotelPackage.id] + 1"> + </span>-->

                    <!--<span ng-model = "numberOfPackages[hotelPackage.id]">{{numberOfPackages[hotelPackage.id]}}</span>-->

                </div>
                <div class="col-md-7">
                    <button ng-click="addOrder(hotelPackage)" class="btn btn-primary my-btn text-middle bg-red full-width bold">Add To Order <span ng-if="totalPrice[hotelPackage.id]">(Rs. {{totalPrice[hotelPackage.id]}})</span></button>
                </div>
            </div>
        </div>
    <!--<div class="gap"></div>-->
    </div>









    <!--<uib-accordion close-others="false">-->
        <!--<uib-accordion-group ng-repeat="">-->
            <!--<uib-accordion-heading>-->
                 <!--<span class="package_name">{{hotelPackage.name}}</span> <span class="package_price">{{hotelPackage.price}} per person</span>-->
                <!--<p class="package_des"><br>{{hotelPackage.description}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></p>-->
            <!--</uib-accordion-heading>-->
            <!--<div class = "row"  >-->
                <!--<div class="col-md-10">-->
                    <!--<div class="package_item_name">{{package_item.name}}  </div>-->
                    <!--<div class="package_item_des">{{package_item.description}}</div>-->


                <!--</div>-->
                <!--<div class=" col-md-2 choose_item_btn">-->
                    <!--<button ng-click="open(package_item,package)" class = "btn btn-primary" style="margin-left:15px;" ng-if="package_item.has_options" >Choose</button>-->
                    <!--<button class="btn btn-primary choose_item_btn" ng-if="!package_item.has_options">See Details</button>-->

                <!--</div>-->
                <!--<div class="row"><div class="col-md-12"> <hr> </div></div>-->

            <!--</div>-->

            <!--<div class = "row">-->
                    <!--<div class="col-md-10">-->
                        <!--<label class="col-md-4" style="line-height: 34px">Number Of Packages</label>-->
                        <!--<div class="col-md-2">-->
                            <!--<input class="form-control" type="number" max = 100 min = 1 ng-model = "numberOfPackages[hotelPackage.id]">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--<div class="col-md-2">-->
                    <!--<button  class="btn btn-primary">Add to Cart</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</uib-accordion-group>-->
    <!--</uib-accordion>-->


</div>






















<ng-include src="'templates/modalTemplates/menuPackageModal.tpl.html'"></ng-include>
<!--<script type="text/ng-template" id="myPopoverTemplate.html">-->
    <!--<div>{{dynamicPopover.content}}</div>-->
    <!--<div class="form-group">-->
        <!--<label>portioning stuff</label>-->
    <!--</div>-->
<!--</script>-->