<script type="text/ng-template" id="contactUsModal.html">

    <div class="modal-body bg-light-body no-padding" style="border-radius: 0">
        <div class="font15 height40 highlight-dark padding-10 text-left" style="vertical-align: middle">
            Helpline
        </div>
        <div class="cw-text text-dark-grey padding-10">
            CUSTOMER SERVICE ENQUIRES
            <div class="font15 gap gap-mini">
                Questions about your order? Or want to place and order via phone? We're here to help!
            </div>
            <div class="gap gap-tiny font15">
                <i class="fa fa-phone"> </i> +91 9999 043 970
            </div>
            <div class="gap gap-tiny font15">
                <i class="fa fa-envelope"> </i> <a class="text-dark-grey" href="mailto:support@caterwow.com">support@caterwow.com</a>
            </div>
        </div>

        <hr style="margin-top: 5px; margin-bottom: 5px;">

        <div class="cw-text text-dark-grey padding-10">
            RESTAURANT ENQUIRES
            <div class="font15 gap gap-mini">
                We'd love to hear from you and chat about how we can work together.
            </div>
            <div class="gap gap-tiny font15">
                <i class="fa fa-envelope"> </i> <a href="mailto:support@caterwow.com">support@caterwow.com</a>
            </div>
        </div>

        <div class="font15 height40 highlight-dark padding-10 text-left" style="vertical-align: middle">
            Like, Follow or Subscribe
        </div>
        <div class="gap gap-small">
            <a href = "https://twitter.com/caterwow"><img src="./images/fb.png" class="float-left padding-10" width = "60" height = 60"></a>
            <a href="https://www.facebook.com/caterwow">  <img src="./images/google.png" class="float-left padding-10" width = "60" height = "60"></a>
            <a href="https://www.linkedin.com/company/caterwow">  <img src="./images/linked.png" class="float-left padding-10" width = "60" height = "60"></a>
            <a href="https://plus.google.com/107030367648342761302/about">  <img src="./images/twitter.png" class="float-left padding-10" width = "60" height = "60"></a>
        </div>
    </div>
    <!--<div class="modal-footer">-->
        <!--<button class="btn btn-primary" type="button" ng-click="checkout()">Continue to CheckOut</button>-->
        <!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
    <!--</div>-->
</script>