<script type="text/ng-template" id="packageSelector.html">
    <div class="modal-header">
        <h3 class="modal-title">{{package_item.name}}</h3>
    </div>
    <div class="modal-body">
        {{package_item.description}}
        <!--{{itemOptions}}-->
        <div class="row">
            {{error}}
        <div ng-model="dish" ng-init="category = itemOption.menu_item_option_id" class = "col-md-4" ng-repeat="itemOption in itemOptions | unique : 'menu_item_option_id' ">
            <h1>{{itemOption.menu_item_option_name}}</h1>
            <p>{{itemOption.description}}</p>
            <div class = "" ng-repeat="item in itemOptions" ng-show="item.menu_item_option_id == category">
                <label class = "checkbox" for = "{{item.menu_item_option_list_id}}"></label>
                <input type="checkbox"  data-checklist-model="selectedItems" data-checklist-value="item" id = "{{item.menu_item_option_list_id}}">
                {{item.menu_item_option_list_name}}
            </div>
            <hr>
           Choose At most : {{itemOption.max_choice}}, At least: {{itemOption.min_choice}}
        </div>
        </div>
        {{selectedItems}}
    </div>
    <div class="modal-footer">
        <!--<button class="btn btn-primary" type="button" ng-click="add()">Add</button>-->
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>