<!--<h1>Ala Carte</h1>-->
<!--{{restaurantAlacarte}}-->

<div class="col-md-12" ng-if = "loadingRestaurantAlacarte">
    <div class="gap"></div>
    <h4 class="text-middle"><i class="fa fa-spinner fa-pulse"></i></h4>
    <h4 class="text-middle">Loading A-la-cartes</h4>
</div>

<!--<uib-accordion close-others="false">-->
    <div class="" ng-repeat="restaurantAlacarte in restaurantAlacartes">
        <!--<uib-accordion-heading>-->
        <div class="row">
            <div class="package_name col-md-12">{{restaurantAlacarte.name}}</div>
            <!--<span>{{restaurantAlacarte.price}} per person</span>-->
            <p class="package_des col-md-12"><br>{{restaurantAlacarte.description}}</p>
            <!--<div class="row">-->
                <div class="col-md-12"> <hr> </div>
            <!--</div>-->
        </div>
                <div class="row" ng-repeat="package_item in restaurantAlacarte.packageDetails">
                    <div class="col-md-6">
                        <div class="alacarte_item_name ">{{package_item.name}}</div>
                         <div class="package_item_des">{{package_item.description}}</div>
                    </div>
                    <div class="col-md-2" style="line-height: 34px;">Rs.{{package_item.price}}</div>
                    <label class="col-md-1" style="line-height: 34px;">Quantity</label>
                    <div class="form-group col-md-1">
                        <input type = "number" min = 1  max = 99 ng-model = "quantity[package_item.id]" class="form-control" style="width:50px;padding: 5px">
                    </div>
                    <div class="col-md-1">
                        <button ng-click="add(restaurantAlacarte,package_item)" class = "btn btn-primary" >Add</button>
                    </div>
                    <!--<div class="row">-->
                        <div class="col-md-12"> <hr> </div>
                    <!--</div>-->
                </div>

        <!--</uib-accordion-heading>-->
    </div>
<!--</uib-accordion>-->