<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-md-10">
            <div class="gap gap-mini"></div>
            <div class="col-md-12">
                <div class="float-left font20 bold text-light-grey">SIGN UP FOR SOME GREAT PARTY TIPS(and exclusive offers, obviously)</div>
                <div style="clear: both"></div>
                <div class="gap gap-mini"></div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <input class="form-control height40 text-light-grey" placeholder="Email" type="email">
                    </div>
                    <div class="form-group col-md-4  text-light-grey">
                        <input class="form-control height40" placeholder="Full Name" type="text">
                    </div>
                    <div class="col-md-4">
                        <input type="submit" class=" height40 btn my-btn text-light-grey bg-darke-grey" value="SIGN ME UP">
                    </div>
                </div>
                <hr class="bg-light-grey">
            </div>
            <!--<div class="col-md-12"><hr style="width: 2px; color: black; background-color: black"></div>-->
            <div class="col-md-12">
                <div class="float-left font20 bold text-light-grey">CONNECT WITH US</div>
                <div style="clear: both"></div>
                <div class="gap gap-mini"></div>
                <!--<div></div>-->
                <div class="row">
                    <div class="col-md-4">
                        <img src="a.png" class="float-left col-md-3" width = "70" height = "70">
                        <img src="a.png" class="float-left col-md-3" width = "70" height = "70">
                        <img src="a.png" class="float-left col-md-3" width = "70" height = "70">
                        <img src="a.png" class="float-left col-md-3" width = "70" height = "70">
                    </div>
                </div>
                <hr class="bg-light-grey">
            </div>
            <div class="gap gap-big"></div>
        </div>
        <div class="col-md-2 padding-10" style="border-left: 2px solid #989898">
            <div class="gap gap-big"></div>
            <div class="font20 text-middle bold text-light-grey"> Have you seen our blog?</div>
            <div class="gap gap-small"></div>
            <div class="text-white text-middle font25"> GO TO CATERWOW BLOG</div>
            <div class="gap gap-big"></div>


        </div>
    </div>
</div>