<header id="main-header" ng-controller="homeController">
    <nav class=" navbar navbar-inverse mynavbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <a class="navbar-brand logo" href="#">
                        <img src="images/logo.png" alt="logo" title="CaterWow" />
                    </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <!--<li class="">-->
                                <!--<a href="#" ng-if = "home.isAuthenticated()">-->
                                    <!--&lt;!&ndash;<img class="" src="" alt="Image Alternative text" />&ndash;&gt;-->
                                    <!--{{home.userName}}</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<button data-toggle="modal" class = "btn btn-primary"  data-target="#login" ng-if = "!home.isAuthenticated()">Log In/Register</button>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<button ng-click="home.logout()" class="btn btn-primary" ng-if = "home.isAuthenticated()">Log Out</button>-->
                            <!--</li>-->
                            <li>
                                <button class = "btn btn-primary">Contact Us</button>
                            </li>
                        </ul>
            </div>
        </div>
    </nav>
</header>

<!--<ng-include src = "'./templates/modalTemplates/loginModal.tpl.html'"></ng-include>-->