<div ng-include = "'templates/header.tpl.html'"></div>
<div ng-include="'./templates/alert.tpl.html'"></div>
<div ng-include = "'templates/searchBar.tpl.html'"></div>
<div class="container">
    <!--<div class = "row">-->
    <ol class="breadcrumb">
        <li class="bold">Home</li>
        <li class="bold" ng-controller="locationSearchController">Browse Restaurants & Caterers in {{selectedLocality.name}}</li>
        <li class="text-red">Customize packages from {{hotel.name}}</li>
        <li>Confirm Order</li>
    </ol>
    <!--</div>-->
</div>
<div class="container-fluid" ng-style="{'background-image': 'url('+ hotel.mast_photo + ')'}" style="height : 300px;">
    <div class="container" style="margin-top: 46px">
        <div class="row">
            <div class="col-md-7">
                <div class="row restaurant-small-box">

                    <div class="col-md-12">
                        <div class="float-left">
                            <div>
                                <a class="font25 text-capitalize text-black" ui-sref="hotel.packages({id : restaurant.id})">{{hotel.name}}</a>
                                <p class="restaurant-des font15 text-capitalize italic text-black">{{hotel.short_description}}</p>
                            </div>
                        </div>
                        <div class="float-right" ng-if = "hotel.avg_rating > 0">
                            <div>
                                <uib-rating ng-model="rate" ng-init="rate = hotel.avg_rating" max="5" readonly="true" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
                            </div>
                            <p><a class="rating padding-5" ui-sref="hotel.reviews({id : restaurant.id})">[{{hotel.review_count}} Reviews]</a></p>
                        </div>
                    </div>
                    <div class="col-md-12"><hr class="bg-darke-grey" style="margin-top : 2px;margin-bottom: 7px;"></div>
                    <!--<div >-->
                        <!--<div class="">-->
                            <img class="col-md-3" ng-src= "{{imagesPath + hotel.profile_photo}}" width = "145" height="95">
                        <!--</div>-->
                    <!--</div>-->
                    <div class="col-md-9">
                        <div class="bold font15 text-black">{{hotel.cuisines}}</div>
                        <div class="text-black"  style="font-size: 14px">Price (per person): {{hotel.min_package_price}} - {{hotel.max_package_price}}</div>
                        <div class="gap gap-mini"></div>
                        <div class=""><hr class="bg-light-grey" style="margin-top: 5px;margin-bottom: 5px;"></div>
                        <div class="">
                            <div class="float-left text-black bold" style="line-height: 30px; font-size: 14px">{{hotel.min_order_count}} packages min.  | <span class="text-green">FREE Delivery</span></div>
                            <!--<div class="float-right"><button class="btn btn-primary" ui-sref="hotel.packages({id : restaurant.restaurant_id})">View Packages</button></div>-->
                        </div>

                    </div>









                    <!--<div class="col-md-3">-->
                    <!--<div class="restaurant-img">-->
                    <!--<img src="bhasduvbkj.png">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class = "col-md-6">-->
                    <!--<div class="restaurant-name"></div>-->
                    <!--<small class="italic small-text">{{restaurant.locality_name}},{{restaurant.city_name}}</small>-->
                    <!--<div class="restaurant-des"></div>-->
                    <!--<div class="">Cuisines : {{restaurant.cuisines}}</div>-->
                    <!--<div class="small-text padding-top-5 top-margin-25">Package Price : {{restaurant.min_package_price}} to {{restaurant.max_package_price}}-->
                    <!--<br>Minimum order Value : {{restaurant.min_order_value}} | Minimum Order Count : </div>-->



                    <!--</div>-->
                    <!--<div class = "col-md-3">-->
                    <!--<uib-rating ng-model="rate" ng-init="rate = restaurant.avg_rating" max="5" readonly="true" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>-->
                    <!--<br> <a class="rating padding-5" ui-sref="hotel.reviews({id : restaurant.restaurant_id})">{{restaurant.review_count}} Reviews</a>-->
                    <!--<br><br>-->
                    <!---->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="gap gap-mini"></div>
            <div class="row">
                <div class="col-md-12">
            <div class="col-md-6 no-left-padding">
                <div ui-sref ="hotel.packages" class="cw-text text-left res-view-btns" ng-class="{'active-menu' : $state.includes('hotel.packages')}">Packages</div>
            </div>
            <div class="col-md-3 no-left-padding">
                <div ui-sref ="hotel.reviews" class="cw-text text-middle res-view-btns text-dark-grey" ng-class="{'active-menu' : $state.includes('hotel.reviews')}">Reviews</div>
            </div>
            <div class="col-md-3 no-left-padding">
                <div ui-sref ="hotel.about" class="cw-text text-middle res-view-btns text-dark-grey" ng-class="{'active-menu' : $state.includes('hotel.about')}">Restaurant Info</div>
            </div>
                </div>
            </div>
            <div class="gap gap-tiny"></div>
            <div class="hotel-tabs-content" ui-view></div>

        </div>
        <div class="col-md-3">
            <!--<div class="white-background-box row" ng-controller="locationSearchController" ng-show = "showDateTimeBlock()">-->
                <!--<div class="font20">-->
                    <!--For getting exact pricing details and availability of restaurant in your area Please enter date time and number of people-->
                    <!--<div ng-if = "showBlock('date')" class="input-group search-bar-fields no-padding">-->
                        <!--<span class="input-group-btn" >-->
                                            <!--<button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>-->
                                            <!--</span>-->
                        <!--<input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" id = "date" ng-model="temp.date" is-open="status.opened" placeholder="Event Date" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />-->
                    <!--</div>-->
                    <!--<select ng-if="showBlock('time')" class="form-control search-bar-fields"ng-options="n for n in times"  ng-model="temp.time"><option value = "" disabled selected>Event Time</option></select>-->
                    <!--<select ng-if = "showBlock('pax')"  class="form-control search-bar-fields" ng-options="n+' persons' for n in [] | range:10:75" ng-model="temp.pax"><option value = "" disabled selected>Persons?</option></select>-->
                    <!--<button class="btn btn-primary myBtn" ng-click = "updateSearchDetails()">Update</button>-->
                <!--</div>-->
            <!--</div>-->
            <div class="white-background-box row no-padding" ng-controller="orderController">
                <ng-include src = "'./templates/orderSidebar.tpl.html'"></ng-include>
                <div class="col-md-12 padding-10">
                    <button ng-click="checkout()" style="width : 100%" ng-if = "orders.length >= 1" class="btn btn-primary my-btn bold">Confirm Order</button>
                </div>
                <div class="col-md-12">
                    <div class="bold underline text-dark-grey" style="font-size: 14px;">NO PAYMENT REQUIRED RIGHT NOW</div>
                    <div class="bold text-dark-grey" style="font-size: 11px; padding-bottom:10px">Upon confirmation of order, our team will get in touch with you to collect 30% advance payment</div>
                </div>
            </div>
            <div ng-include = "'./templates/helpBox.tpl.html'"></div>
        </div>
    </div>
</div>











<!--<div class = "container">-->
    <!--<div class = "row">-->
        <!--<div class = "col-md-8">-->

            <!--&lt;!&ndash;<div class="row white-background-box restaurant-small-box">&ndash;&gt;-->

                <!--&lt;!&ndash;<div class="col-md-3">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="restaurant-img">&ndash;&gt;-->
                        <!--&lt;!&ndash;<img src="bhasduvbkj.png">&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class = "col-md-6">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="restaurant-name">{{hotel.name}}</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<small class="italic small-text">{{hotel.locality_name}},{{hotel.city_name}}</small>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="restaurant-des">{{hotel.short_description}}</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="">Cuisines : {{hotel.cuisines}}</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="small-text padding-top-5 top-margin-25">Package Price : {{hotel.min_package_price}} to {{hotel.max_package_price}}&ndash;&gt;-->
                        <!--&lt;!&ndash;<br>Minimum order Value : {{hotel.min_order_value}} | Minimum Order Count : {{hotel.min_order_count}}</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class = "col-md-3" ng-init="ratey = hotel.avg_rating">&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;{{hotel.avg_rating}}&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;<uib-rating  ng-model="ratey" max="5" readonly="true" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>&ndash;&gt;-->
                    <!--&lt;!&ndash;<br><span class="rating padding-5" ui-sref="reviews">{{hotel.review_count}} Reviews</span>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->










        <!--</div>-->
        <!--<div class="col-md-4">-->
            <!-- -->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->

<div class="gap"></div>
<ng-include src = "'./templates/footer.tpl.html'"></ng-include>





