<div ng-include = "'templates/header.tpl.html'"></div>
<div ng-include = "'templates/searchBar.tpl.html'"></div>

<div class = "container">
    <div class = "row">
        <div class = "col-md-8">
            <div class="row white-background-box restaurant-small-box">

                <div class="col-md-3">
                    <div class="restaurant-img">
                        <img src="bhasduvbkj.png">
                    </div>
                </div>
                <div class = "col-md-6">
                    <div class="restaurant-name">{{hotel.name}}</div>
                    <small class="italic small-text">{{hotel.locality_name}},{{hotel.city_name}}</small>
                    <div class="restaurant-des">{{hotel.short_description}}</div>
                    <div class="">Cuisines : {{hotel.cuisines}}</div>
                    <div class="small-text padding-top-5 top-margin-25">Package Price : {{hotel.min_package_price}} to {{hotel.max_package_price}}
                        <br>Minimum order Value : {{hotel.min_order_value}} | Minimum Order Count : {{hotel.min_order_count}}</div>
                </div>
                <div class = "col-md-3" ng-init="ratey = hotel.avg_rating">
                    <!--{{hotel.avg_rating}}-->
                    <uib-rating  ng-model="ratey" max="5" readonly="true" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
                    <br><span class="rating padding-5" ui-sref="reviews">{{hotel.review_count}} Reviews</span>
                </div>
            </div>


            <div class="white-background-box">

                <uib-tabset justified="true">
                    <uib-tab ui-sref="hotel.packages" heading="Packages"></uib-tab>
                    <uib-tab ui-sref="hotel.alacarte" heading="A-la-Carte"></uib-tab>
                    <uib-tab ui-sref ="hotel.reviews" heading="Reviews"></uib-tab>
                    <uib-tab ui-sref ="hotel.pictures" heading="Pictures"></uib-tab>
                    <uib-tab ui-sref ="hotel.about" heading="About"></uib-tab>
                </uib-tabset>

                    <div class="hotel-tabs-content" ui-view></div>






            </div>






        </div>
        <div class="col-md-4 white-background-box" ng-controller="orderController">

            <!--<textarea>-->
                    <!--&lt;!&ndash;{{orders}}&ndash;&gt;-->
                <!--</textarea>-->

            <!--{{orders}}-->
            <div ng-repeat = "order in orders">
            <div>
                <div ng-if = "showPackages(order[2].type)">
                    <div class="row">

                    <span class="col-md-7">{{order[2].name}}</span>   <span class="col-md-2"> X {{order[6]}}</span>    <span class="col-md-3">Rs. {{order[2].price * order[6]}}</span>
                        <hr>
                    </div>
                    <div ng-repeat="item in order[2].packageDetails">
                        {{item.name}} <br>
                        <div ng-repeat="itemOption in order[4][item.id]">
                            <span ng-repeat="itemOptionList in itemOption">
                                {{ order[3][item.id][itemOptionList.menu_item_option_id]}} - {{itemOptionList.name}}
                                <span ng-if = "itemOptionList.price" >
                                    Rs. {{itemOptionList.price}}
                                </span>
                            </span>
                        </div>
                    </div>
                    By {{order[1].name}}
                    <div class="col-md-12"><hr></div>
                </div>

            </div>


            <div ng-if="showAlacarte(order[2].type)">
                <!--{{odr[2].name}}-->
                <div class="row">
                    <span class="col-md-7">{{order[3].name}}
                    </span>
                    <span class="col-md-2">X {{order[4]}}</span>
                    <span class="col-md-3">{{order[3].price * order[4]}}</span>
                </div>
                By {{order[1].name}}
                <div class="row"><div class="col-md-12"><hr></div></div>
                <!--AddOn's Price - {{}}-->
                <!--Tax - {{}}-->
                <!--Total Price - {{}}-->
            </div>
            </div>
            <div class="col-md-12">
                <button ng-click="checkout()" style="width : 100%" class="btn btn-primary">Continue to Checkout</button>
            </div>
                <!--{{alacarteOrders}}-->

            <!--<div ng-repeat="order in ">-->



            <!--</div>-->


        </div>

    </div>
</div>