<div ng-include = "'./templates/header.tpl.html'"></div>
<div ng-include="'./templates/alert.tpl.html'"></div>
<div ng-include = "'./templates/searchBar.tpl.html'" ng-if = "$root.width > 992"></div>
<div class="gap" ng-if = "$root.width < 992"></div>
<div class="container" ng-if = "$root.width > 992">
    <!--<div class = "row">-->
    <ol class="breadcrumb text-dark-grey">
        <li class="text-red pointer" ui-sref="home" >Home</li>
        <li class="bold">Browse Restaurants & Caterers in {{searchDetails.selectedLocality.name}}</li>
        <li>Configure packages</li>
        <li>Confirm Order</li>
    </ol>
    <!--</div>-->
</div>
<div class="gap" ng-if = "$root.width < 992">
    <div class="container">
        <button class="btn btn-primary my-btn" style="width : 49%" ng-click="openFilters()">Apply Filters</button>
        <button class="btn btn-primary my-btn" ng-init = "isSearchBoxCollapsed = true" style="width : 49%" ng-click="openSearch()">Update Search</button>
    </div>
</div>
<div class="searchSidebar darkShadow"  uib-collapse = "isSearchBoxCollapsed">
    <div class = "pointer text-right" ng-click = "isSearchBoxCollapsed = true">Close(X)</div>
    <div ng-controller="locationSearchController">
        <div  class="input-group padding-10 ">
            <div class="input-group-btn">
                <button type="button" class="btn height40 btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Gurgaon
                </button>
            </div><!-- /btn-group -->
            <input type="text" class="form-control height40" ng-model="searchDetails.selectedLocality" ng-model-options="localities" typeahead-show-hint="true"  typeahead-min-length="0"  uib-typeahead="locality as locality.name for locality in localities | filter:$viewValue" placeholder="Enter Locality">
        </div><!-- /input-group -->
        <div class="padding-10">
        <select class="form-control  height40 " ng-options="n+' persons' for n in [] | range:10:75" ng-model="searchDetails.pax"><option value = "" disabled selected>Persons?</option></select>
        </div>

        <div class="input-group padding-10  ">
                <span class="input-group-btn">
                    <button type="button" class="btn height40 btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                </span>
            <input type="text" class="form-control height40" uib-datepicker-popup="dd-MMMM-yyyy" id = "date" ng-model="searchDetails.date" is-open="status.opened" placeholder="Event Date" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />

        </div>
        <div class="padding-10">
        <select  class="form-control  height40" ng-options="n for n in times"  ng-model="searchDetails.time"><option value = "" disabled selected>Event Time</option></select>
        </div>
        <div class="center padding-10">
        <button class=" btn btn-primary search-update-btn height40 center font20" ng-click="$state.reload();">Search</button>
        </div>
    </div>
</div>
<div class = "container">
    <div class="row">
        <div class = "col-md-3" ng-init="isFilterBoxCollapsed = ($root.width < 992)" uib-collapse="isFilterBoxCollapsed" ng-class="{'filterSidebar darkShadow' : $root.width < 992 }" >
            <div class="col-md-12">
                <div class="text-right pointer" ng-if = "$root.width < 992" ng-click="isFilterBoxCollapsed = true">Close(X)</div>
                <div class="row">
                <div class="search-message cw-text highlight-dark">
                    Filters
                    <span class="float-right pointer" ng-click="clearFilters()" style="font-size: 10px; margin-top : 7px;">[clear all filters]</span>
                </div>
                <!--<div class="row">-->
                <!--<div class="gap gap-ti"></div>-->
                <!--</div>-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="" >
                                <div class="sel-filters-box padding-5">
                                    <span class="sel-filters bg-red" ng-repeat="filter in selectedFilters">
                                        {{filter.name}}  <span class="pointer bold" ng-click="removeFilter(this)"> X </span>
                                    </span>
                                </div>
                            </div>



                            <div class="gap gap-mini"></div>
                            <!--<div class="form-group">-->
                            <div class="bold filter-name pointer text-dark-grey" ng-init="isCollapsed['price'] = false" ng-click="isCollapsed['price'] = !isCollapsed['price']"><span ng-if = "isCollapsed['price']"><i class="fa fa-caret-right"></i></span>
                                <span ng-if = "!isCollapsed['price']"><i class="fa fa-caret-down"></i></span> Price (per person)</div>
                            <!--<div ui-slider="{range : true}" min="0" max = "2000" step="50" ng-model="priceRange"></div>-->

                            <div uib-collapse="isCollapsed['price']" class="price-slider text-dark-grey">
                                <rzslider
                                        rz-slider-model="slider.min"
                                        rz-slider-high="slider.max"
                                        rz-slider-options="slider.options"></rzslider>
                                <!--</div>--></div>
                        </div>
                    </div>
                    <div class="gap gap-mini"></div>
                <div class="row" ng-repeat="filtertype in filterTypes">
                <div class="col-md-12">
                    <!--<div class="form-group">-->
                        <div class="bold filter-name pointer text-dark-grey" ng-init="isCollapsed[filtertype.type] = false" ng-click="isCollapsed[filtertype.type] = !isCollapsed[filtertype.type]"><span ng-if = "isCollapsed[filtertype.type]"><i class="fa fa-caret-right"></i></span>
                            <span ng-if = "!isCollapsed[filtertype.type]"><i class="fa fa-caret-down"></i></span>  {{filtertype.type}}s</div>
                    <!--<input class="form-control" placeholder="Search {{filtertype.type}}s" ng-model="text[filtertype.type]">-->
                    <div class="fix-height-300">
                        <div class="col-md-12" ng-if = "loadingFilters[filtertype.type]">
                            <div class="gap"></div>
                            <h4 class="text-middle"><i class="fa fa-spinner fa-pulse"></i></h4>
                            <h4 class="text-middle text-dark-grey">Searching {{filtertype.type}}s</h4>
                        </div>
                    <div class="filters" uib-collapse="isCollapsed[filtertype.type]" ng-class="{'highlight': isFilterChecked[filter.id] || hover}" ng-click="isFilterChecked[filter.id] = !isFilterChecked[filter.id]" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-repeat="filter in filters[filtertype.type] | filter : text[filtertype.type]">
                        <input  type = "checkbox" ng-click="$event.stopPropagation()" data-checklist-model="selectedFilters" ng-model="isFilterChecked[filter.id]" data-checklist-value="filter">
                        <span href class="text-dark-grey font15 text-capitalize">{{filter.name}}</span>
                    </div>
                    </div>
                    <!--</div>-->
                </div>
                    <div class="gap gap-small"></div>
                </div>
                </div>
            </div>
        </div>
        <div class = "col-md-9">

            <div class="col-md-3" ng-if = "$root.width > 992">
                    <select ng-change="filterRestaurants()" ng-options="'Sort by:  '+type for type in sortTypes" ng-model = "sortType" class="form-control search-fields text-capitalize text-dark-grey"></select>
            </div>

            <div class="col-md-offset-3 col-md-6" style="visibility: hidden" ng-if = "$root.width > 992">
                <div class="">
                    <input class="form-control search-fields" placeholder="Search by dish or restaurant name">
                </div>

            </div>
                <div class="col-md-12" ng-if = "loadingRestaurants">
                    <div class="gap"></div>
                    <h1 class="text-middle text-dark-grey"><i class="fa fa-spinner fa-pulse"></i></h1>
                    <h1 class="text-middle text-dark-grey">searching restaurants</h1>
                </div>
            <div class="col-md-12" ng-class="{'no-padding': $root.width < 992}">
                <div class = "search-message cw-text highlight" ng-hide="loadingRestaurants">
                        <div class="" ng-if = "restaurants.length == 0">Sorry, we couldn't find anything. Try searching again?</div>
                        <div class="" ng-if = "restaurants.length > 0">Customize and order meal packages from <span class="text-red bold">{{restaurants.length}}</span> restaurants and caterers in your area </div>
                </div>
            </div>
            <div class="col-md-12" ng-class="{'no-padding': $root.width < 992}">
             <div class="row" ng-class="{'restaurant-small-box2' : $root.width < 992,'restaurant-small-box': $root.width > 992}" ng-repeat="restaurant in restaurants">


                 <div class="col-md-12">
                     <div class="">
                         <div>
                             <div class="font25 text-capitalize text-black pointer" ui-sref="hotel.packages({id : restaurant.id})">{{restaurant.name}}</div>
                             <div class="restaurant-des text-capitalize italic text-light-grey" style="font-size: 14px">{{restaurant.short_description}}</div>
                         </div>
                     </div>
                     <div class="float-right" ng-if = "restaurant.avg_rating > 0">
                         <div>
                             <uib-rating ng-model="rate" ng-init="rate = restaurant.avg_rating" max="5" readonly="true" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
                         </div>
                         <p><a class="rating padding-5" ui-sref="hotel.reviews({id : restaurant.id})">[{{restaurant.review_count}} Reviews]</a></p>
                     </div>
                 </div>
                 <div class="col-md-12"><hr class = "bg-grey" style="margin-top : 2px;margin-bottom: 7px; height: 1px;"></div>
                 <div class="col-md-3" ng-class="{'center' : $root.width > 992,'hidden' : $root.width < 992}">
                         <img ng-src= "{{imagesPath + restaurant.profile_photo}}" height="95" class="float-left pointer"  ui-sref="hotel.packages({id : restaurant.id})" style="width : auto">
                 </div>
                 <div class="col-md-9" ng-class="{'margin-left-10' : $root.width < 992}">
                     <div class="bold font15 text-dark-grey">{{restaurant.cuisines}}</div>
                     <div class="text-dark-grey" style="font-size: 14px">Price (per person): {{restaurant.min_package_price}} - {{restaurant.max_package_price}}</div>
                     <div class="gap gap-mini" ng-if = "$root.width > 992" ></div>
                     <div class="" ng-if = "$root.width > 992"><hr class="bg-light-grey" style="margin-top: 5px;margin-bottom: 5px;"></div>
                     <div class="">
                         <div class="float-left text-dark-grey" style="line-height: 30px;font-size: 14px">{{restaurant.min_order_count}} packages min. | <span class="text-green">FREE Delivery</span></div>
                          <div class="float-right"><button class="btn bg-red my-btn view-restaurant-btn" ui-sref="hotel.packages({id : restaurant.id})">View Packages</button></div>
                     </div>

                 </div>
            </div>
            </div>
        </div>
    </div>
</div>


<div class="gap"></div>
<ng-include src = "'./templates/footer.tpl.html'"></ng-include>



