<div ng-include = "'templates/header.tpl.html'"></div>
<div ng-include = "'templates/searchBar.tpl.html'"></div>

<div class = "container">
    <div class = "row">
        <div class = "col-md-8">
            <div class="row white-background-box restaurant-small-box">

                <div class="col-md-3">
                    <div class="restaurant-img">
                        <img src="bhasduvbkj.png">
                    </div>
                </div>
                <div class = "col-md-6">
                    <div class="restaurant-name">{{hotel.name}}</div>
                    <small class="italic small-text">{{hotel.locality_name}},{{hotel.city_name}}</small>
                    <div class="restaurant-des">{{hotel.short_description}}</div>
                    <div class="">Cuisines : {{hotel.cuisines}}</div>
                    <div class="small-text padding-top-5 top-margin-25">Package Price : {{hotel.min_package_price}} to {{hotel.max_package_price}}
                        <br>Minimum order Value : {{hotel.min_order_value}} | Minimum Order Count : {{hotel.min_order_count}}</div>
                </div>
                <div class = "col-md-3" ng-init="ratey = hotel.avg_rating">
                    <!--{{hotel.avg_rating}}-->
                    <uib-rating  ng-model="ratey" max="5" readonly="true" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
                    <br><span class="rating padding-5" ui-sref="reviews">{{hotel.review_count}} Reviews</span>
                </div>
            </div>


            <div class="white-background-box">

                <uib-tabset justified="true">
                    <uib-tab ui-sref="hotel.packages" heading="Packages"></uib-tab>
                    <uib-tab ui-sref="hotel.alacarte" heading="A-la-Carte"></uib-tab>
                    <uib-tab ui-sref ="hotel.reviews" heading="Reviews"></uib-tab>
                    <uib-tab ui-sref ="hotel.pictures" heading="Pictures"></uib-tab>
                    <uib-tab ui-sref ="hotel.about" heading="About"></uib-tab>
                </uib-tabset>

                    <div class="hotel-tabs-content" ui-view></div>






            </div>






        </div>
        <div class="col-md-4 white-background-box" ng-controller="orderController">

            <textarea>
                    {{order}}
                </textarea>


            <div class = "row">
            <h2 class = "col-md-12">Current Order Summary</h2>
            <hr>
            <ol>
                <li>
                    <div class="col-md-12">
                        <div class = "col-md-10">
                            <h3>First Order X 10</h3>
                            <p>order description</p>
                        </div>
                        <div class = "col-md-2"><a href>Edit</a></div>
                    </div>
                    <div class = "col-md-12">
                        <div class = "col-md-3">Total :</div>
                        <div class = "col-md-4 col-md-offset-5" style = "text-align:right">Rs. 1209</div>
                    </div>
                </li>
                <li>
                    <div class="col-md-12">
                        <div class = "col-md-10">
                            <h3>First Order X 10</h3>
                            <p>order description</p>
                        </div>
                        <div class = "col-md-2"><a href>Edit</a></div>
                    </div>
                    <div class = "col-md-12">
                        <div class = "col-md-3">Total :</div>
                        <div class = "col-md-4 col-md-offset-5" style = "text-align : right">Rs. 1209</div>
                    </div>
                </li>
            </ol>
            <div class = "col-md-12">
                <hr>
                <div class = "col-md-3">Total :</div>
                <div class = "col-md-4 col-md-offset-5" style = "text-align : right">Rs. 1209</div>
            </div>
        </div>
        </div>

    </div>
</div>