<ng-include src="'templates/header.tpl.html'"></ng-include>

<div class = "container">

    <div>Customize and choose from 57 packages from 7 restaurants</div>
    <hr>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">

        </div>
    </div>
</div>




<div class = "container">
    <div class="row">
        <div class = "col-md-4">
            <div class="filters_box white-background-box">
                <div> Filters <hr>
                </div>
            </div>
        </div>

        <div class = "col-md-8">
            <div class="row">
                <div class = "col-md-2">
                    <select class="form-control">
                        <option selected disabled>Sort By :</option>
                        <option>Popularity</option>
                        <option>Just Added</option>
                    </select>
                </div>
                <div class="col-md-10">
                    <tags-input ng-model="tags">
                        <!--<auto-complete source="loadTags($query)"></auto-complete>-->
                    </tags-input>
                </div>
            </div>
            <div class="row white-background-box">

                <div class="col-md-3">
                    <div >
                        <img src="bhasduvbkj.png" style="width:170px;height :180px">
                    </div>
                </div>
                <div class = "col-md-6">
                    <h1>Smoking toe's Pizza</h1>
                    <p>italian cuisines top destination</p>

                </div>
                <div class = "col-md-3">

                </div>
            </div>
            <div class="row white-background-box">

                <div class="col-md-3">
                    <div >
                        <img src="bhasduvbkj.png" style="width:170px;height :180px">
                    </div>
                </div>
                <div class = "col-md-6">
                    <h1>Smoking toe's Pizza</h1>
                    <p>italian cuisines top destination</p>

                </div>
                <div class = "col-md-3">

                </div>
            </div>

        </div>
    </div>
</div>