<div ng-include = "'./templates/header.tpl.html'"></div>
<div ng-include="'./templates/alert.tpl.html'"></div>
<div ng-include = "'./templates/searchBar.tpl.html'"></div>
<div class="container">
    <!--<div class = "row">-->
    <ol class="breadcrumb text-dark-grey">
        <li class="text-red">Home</li>
        <li class="bold" ng-controller="locationSearchController">Browse Restaurants & Caterers in {{selectedLocality.name}}</li>
        <li>Configure packages</li>
        <li>Confirm Order</li>
    </ol>
    <!--</div>-->
</div>
<div class = "container">
    <div class="row">
        <div class = "col-md-3">
            <div class="col-md-12">
                <div class="row">
                <div class="search-message cw-text highlight-dark">
                    Filters
                    <span class="float-right" style="font-size: 10px; margin-top : 7px;">[clear all filters]</span>
                </div>
                <!--<div class="row">-->
                <div class="gap gap-mini"></div>
                <!--</div>-->
                    <div class="row">
                        <div class="col-md-12">
                            <!--<div class="form-group">-->
                            <div class="bold filter-name pointer text-dark-grey" ng-init="isCollapsed['price'] = false" ng-click="isCollapsed['price'] = !isCollapsed['price']"><span ng-if = "isCollapsed['price']"><i class="fa fa-caret-right"></i></span>
                                <span ng-if = "!isCollapsed['price']"><i class="fa fa-caret-down"></i></span> Price (per person)</div>
                            <!--<div ui-slider="{range : true}" min="0" max = "2000" step="50" ng-model="priceRange"></div>-->

                            <div uib-collapse="isCollapsed['price']" class="price-slider text-dark-grey">
                                <rzslider
                                        rz-slider-model="slider.min"
                                        rz-slider-high="slider.max"
                                        rz-slider-options="slider.options"></rzslider>
                                <!--</div>--></div>
                        </div>
                    </div>
                    <div class="gap gap-mini"></div>
                <div class="row" ng-repeat="filtertype in filterTypes">
                <div class="col-md-12">
                    <!--<div class="form-group">-->
                        <div class="bold filter-name pointer text-dark-grey" ng-init="isCollapsed[filtertype.type] = false" ng-click="isCollapsed[filtertype.type] = !isCollapsed[filtertype.type]"><span ng-if = "isCollapsed[filtertype.type]"><i class="fa fa-caret-right"></i></span>
                            <span ng-if = "!isCollapsed[filtertype.type]"><i class="fa fa-caret-down"></i></span>  {{filtertype.type}}s</div>
                    <!--<input class="form-control" placeholder="Search {{filtertype.type}}s" ng-model="text[filtertype.type]">-->
                    <div class="fix-height-300">
                        <div class="col-md-12" ng-if = "loadingFilters[filtertype.type]">
                            <div class="gap"></div>
                            <h4 class="text-middle"><i class="fa fa-spinner fa-pulse"></i></h4>
                            <h4 class="text-middle text-dark-grey">Searching {{filtertype.type}}s</h4>
                        </div>
                    <div class="filters" uib-collapse="isCollapsed[filtertype.type]" ng-class="{highlight: isFilterChecked[filter.id] || hover}" ng-click="isFilterChecked[filter.id] = !isFilterChecked[filter.id]" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-repeat="filter in filters[filtertype.type] | filter : text[filtertype.type]">
                        <input style="visibility: hidden;"  type = "checkbox" data-checklist-model="selectedFilters" ng-model="isFilterChecked[filter.id]" data-checklist-value="filter">
                        <span href class="text-dark-grey font15 text-capitalize">{{filter.name}}</span>
                    </div>
                    </div>
                    <!--</div>-->
                </div>
                    <div class="gap gap-small"></div>
                </div>
                <!--{{selectedFilters}}-->

                </div>
            </div>
        </div>
        <div class = "col-md-9">

            <div class="col-md-3">
                <!--<div class="form-group">-->
                    <!--<label>Sort By :</label>-->
                    <select ng-change="filterRestaurants()" ng-options="'Sort by:  '+type for type in sortTypes" ng-model = "sortType" class="form-control search-fields text-capitalize text-dark-grey"></select>
                <!--</div>-->
            </div>

            <div class="col-md-offset-3 col-md-6" style="visibility: hidden">
                <div class="">
                    <input class="form-control search-fields" placeholder="Search by dish or restaurant name">
                </div>

            </div>
                <div class="col-md-12" ng-if = "loadingRestaurants">
                    <div class="gap"></div>
                    <h1 class="text-middle text-dark-grey"><i class="fa fa-spinner fa-pulse"></i></h1>
                    <h1 class="text-middle text-dark-grey">searching restaurants</h1>
                </div>
            <div class="col-md-12">
                <div class = "search-message cw-text highlight" ng-hide="loadingRestaurants">
                        <div class="" ng-if = "restaurants.length == 0">Sorry, we couldn't find anything. Try searching again?</div>
                        <div class="" ng-if = "restaurants.length > 0">Customize and order meal packages from <span class="text-red bold">{{restaurants.length}}</span> restaurants and caterers in your area </div>
                </div>
            </div>
            <div class="col-md-12">
             <div class="row restaurant-small-box" ng-repeat="restaurant in restaurants">


                 <div class="col-md-12">
                     <div class="float-left">
                         <div>
                             <a class="font25 text-capitalize text-black" ui-sref="hotel.packages({id : restaurant.id})">{{restaurant.name}}</a>
                             <div class="restaurant-des text-capitalize italic text-light-grey" style="font-size: 14px">{{restaurant.short_description}}</div>
                         </div>
                     </div>
                     <div class="float-right" ng-if = "restaurant.avg_rating > 0">
                         <div>
                             <uib-rating ng-model="rate" ng-init="rate = restaurant.avg_rating" max="5" readonly="true" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
                         </div>
                         <p><a class="rating padding-5" ui-sref="hotel.reviews({id : restaurant.id})">[{{restaurant.review_count}} Reviews]</a></p>
                     </div>
                 </div>
                 <div class="col-md-12"><hr class = "bg-grey" style="margin-top : 2px;margin-bottom: 7px; height: 1px;"></div>
                 <div class="col-md-3 center" >
                         <img ng-src= "{{imagesPath + restaurant.profile_photo}}" height="95" class="float-left" style="width : auto">
                 </div>
                 <div class="col-md-9">
                     <div class="bold font15 text-dark-grey">{{restaurant.cuisines}}</div>
                     <div class="text-dark-grey" style="font-size: 14px">Price (per person): {{restaurant.min_package_price}} - {{restaurant.max_package_price}}</div>
                     <div class="gap gap-mini"></div>
                     <div class=""><hr class="bg-light-grey" style="margin-top: 5px;margin-bottom: 5px;"></div>
                     <div class="">
                         <div class="float-left text-dark-grey" style="line-height: 30px;font-size: 14px">{{restaurant.min_order_count}} packages min. | <span class="text-green">FREE Delivery</span></div>
                          <div class="float-right"><button class="btn bg-red my-btn view-restaurant-btn" ui-sref="hotel.packages({id : restaurant.id})">View Packages</button></div>
                     </div>

                 </div>









                <!--<div class="col-md-3">-->
                    <!--<div class="restaurant-img">-->
                        <!--<img src="bhasduvbkj.png">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class = "col-md-6">-->
                    <!--<div class="restaurant-name"></div>-->
                    <!--<small class="italic small-text">{{restaurant.locality_name}},{{restaurant.city_name}}</small>-->
                    <!--<div class="restaurant-des"></div>-->
                    <!--<div class="">Cuisines : {{restaurant.cuisines}}</div>-->
                    <!--<div class="small-text padding-top-5 top-margin-25">Package Price : {{restaurant.min_package_price}} to {{restaurant.max_package_price}}-->
                    <!--<br>Minimum order Value : {{restaurant.min_order_value}} | Minimum Order Count : </div>-->



                <!--</div>-->
                <!--<div class = "col-md-3">-->
                    <!--<uib-rating ng-model="rate" ng-init="rate = restaurant.avg_rating" max="5" readonly="true" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>-->
                       <!--<br> <a class="rating padding-5" ui-sref="hotel.reviews({id : restaurant.restaurant_id})">{{restaurant.review_count}} Reviews</a>-->
                        <!--<br><br>-->
                    <!---->
                <!--</div>-->
            </div>
            </div>
        </div>
    </div>
</div>