<div ng-include = "'./templates/header.tpl.html'"></div>
<div ng-include="'./templates/alert.tpl.html'"></div>
<div class="gap gap-big"></div>

<div class="container">
    <div class="row">
        <div class=" shadow col-md-offset-2 col-md-8 bg-white padding-20">
            <div class="text-middle text-red font30 bold " style="padding-bottom: 20px;">
                Thank you for using CaterWow
            </div>
            <hr class="no-margin">
            <div class="cw-text text-grey gap gap-small">Your order has been successfully placed. Your order ID is {{order_id}}. We have sent an mail with the details of the order on
                the email ID provided by you Please save this order ID for all further communication.  A CaterWow Food Expert
                would be getting in touch with you to finalize and confirm order details.
            </div>

            <!--<div class="grey-border">-->
            <div class="cw-text height40 text-middle text-white bg-light-grey padding-10" style = "vertical-align : middle">ORDER DETAILS</div>
            <div class="gap gap-mini"></div>
            <div class="col-md-12 text-dark-grey" ng-repeat = "order in orders">
                <div class="row">
                    <div class="col-md-12" ng-if = "showPackages(order[2].type)">
                        <div class="row">
                            <div class="col-md-8 ">{{order[2].name}}  By <span class="bold">{{order[1].name}}</span></div>
                            <div class="col-md-4 text-right ">Rs. {{order[2].price * order[6]}}</div>

                            <!--<div class="gap gap-tiny"></div>-->
                            <!--<div class="col-md-12"><hr></div>-->
                            <div>
                                <div class=" col-md-12 row" ng-repeat="item in order[2].packageDetails">
                                    <div class="">
                                        <div class="col-md-12">
                                            <span class="bold">- {{item.name}}</span>
                                            <!--<hr style="margin-top: 5px;margin-bottom : 10px;">-->
                                        </div>
                        <span class="col-md-12" ng-repeat="itemOption in order[4][item.id]" ng-if="item.has_options">
                            <span class="col-md-12" ng-repeat="itemOptionList in itemOption">
                                <!--<div class="row">-->
                                    <span class="selected_package_items">{{ order[3][item.id][itemOptionList.menu_item_option_id]}} : {{itemOptionList.name}}   <span  class="" ng-if = "itemOptionList.price" >
                                        (Rs. {{itemOptionList.price}})
                                    </span> </span>

                                <!--</div>-->
                            </span>
                        </span>
                                        <div class="gap gap-mini"></div>
                                        <div class="col-md-12"><hr style="margin-top: 5px; margin-bottom: 5px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">Quantity : </div>
                                <div class="col-md-6 text-right">
                                    {{order[6]}}
                                </div>
                                <!--<div style="clear: both"></div>-->
                            </div>
                            <div class="col-md-12" ng-if = "order[8][0].vat_rate > 0" >
                                <div class="col-md-6">
                                    Add On Price:
                                </div>
                                <div class="col-md-6 text-right">
                                    {{order[5]*order[6]}}
                                </div>
                            </div>
                            <!--{{order[8]}}-->
                            <div class="col-md-12" ng-if = "order[8][0].vat_rate > 0" >
                                <div class="col-md-6">
                                    VAT:
                                </div>
                                <div class="col-md-6 text-right">
                                    {{order[8][0].vat_rate * 100 + '%'}}
                                </div>
                            </div>
                            <div class="col-md-12" ng-if = "order[8][0].service_tax_rate > 0" >
                                <div class="col-md-6">
                                    Service Tax:
                                </div>
                                <div class="col-md-6 text-right">
                                    {{order[8][0].service_tax_rate * 100 + '%'}}
                                </div>
                            </div>
                            <div class="col-md-12" ng-if = "order[8][0].service_charge_rate > 0" >
                                <div class="col-md-6">
                                    Service Charge:
                                </div>
                                <div class="col-md-6 text-right">
                                    {{order[8][0].service_charge_rate * 100 + '%'}}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6 ">
                                    Total Price:
                                </div>
                                <div class="col-md-6 text-right">
                                    Rs. {{order[9]}}
                                </div>
                            </div>
                            <!--<div class="col-md-12">-->
                            <!--<div class="col-md-3">Total :</div>-->
                            <!--<div class="col-md-6">-->
                            <!--<div class="pointer" ng-click="decreaseQty(order)"><i class="fa fa-minus-circle"></i></div>-->
                            <!--<div class="">{{order[6]}}</div>-->
                            <!--<div class="pointer " ng-click="increaseQty(order)"><i class="fa fa-plus-circle"></i></div>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;<div class="co-md-2"></div>&ndash;&gt;-->
                            <!--<div class="col-md-2">{{order[6] * (order[2].price)}}</div>-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <div class="gap gap-mini"></div>
                        </div>


                        <div class="row"><div class="col-md-12"><hr style="margin-top: 5px; margin-bottom: 5px;"></div></div>
                    </div>
                </div>


                <!--<div ng-if="showAlacarte(order[2].type)">-->
                <!--&lt;!&ndash;{{odr[2].name}}&ndash;&gt;-->
                <!--<div class="row">-->
                <!--<div class="col-md-5">{{order[3].name}}-->
                <!--</div>-->
                <!--<div class="col-md-3"><a href ng-click="decreaseQty(order)"><i class="fa fa-minus-circle"></i></a>{{order[4]}}<a href ng-click = "increaseQty(order)"><i class="fa fa-plus-circle"></i></a></div>-->
                <!--<div class="col-md-2">{{order[3].price * order[4]}}</div>-->
                <!--<div class="col-md-1"><a href ng-click = "removeItem(order)"><i class="fa fa-times"></i></a></div>-->
                <!--</div>-->
                <!--By {{order[1].name}}-->
                <!--<div class="row"><div class="col-md-12"><hr></div></div>-->
                <!--&lt;!&ndash;AddOn's Price - {{}}&ndash;&gt;-->
                <!--&lt;!&ndash;Tax - {{}}&ndash;&gt;-->
                <!--&lt;!&ndash;Total Price - {{}}&ndash;&gt;-->
                <!--</div>-->

                <!--</div>-->
            </div>
            <div class="col-md-12" >
                <div class="row padding-10">
                    <div class="font15">
                        <div class="float-left">Subtotal</div>
                        <div class="float-right">Rs. {{total.subTotal}}</div>
                    </div>
                    <div style="clear: both"></div>
                    <div class="font15">
                        <div class="float-left">Taxes</div>
                        <div class="float-right">Rs. {{total.totalTax}}</div>
                    </div>
                    <div style="clear: both"></div>
                    <div class="font15 highlight-dark bold padding-5 height40">
                        <div class="float-left">TOTAL ORDER</div>
                        <div class="float-right">Rs {{total.totalAmount}}</div>
                    </div>
                </div>
            </div>
            <!--</div>-->

            <div class="col-md-4">
                <div class="gap gap-small text-light-grey font15 bold">
                    Help us improve, tell us about your website experience
                    <div class="gap gap-tiny"></div>
                    <span class=" my-btn bg-dark text-white font15 padding-5" style="height : 30px; vertical-align: middle; color: white;">Feedback/Complaint</span>
                </div>
            </div>
            <div class = "col-md-offset-4 col-md-4">
                <div class="gap gap-small text-light-grey font15 bold">
                    Liked CaterWow? Share the word
                    <a href = "https://twitter.com/caterwow"><img src="./images/fb.png" class="float-left col-md-3 padding-5" width = "60" height = 60"></a>
                    <a href="https://www.facebook.com/caterwow">  <img src="./images/google.png" class="float-left col-md-3 padding-5" width = "60" height = "60"></a>
                    <a href="https://www.linkedin.com/company/caterwow">  <img src="./images/linked.png" class="float-left col-md-3 padding-5" width = "60" height = "60"></a>
                    <a href="https://plus.google.com/107030367648342761302/about">  <img src="./images/twitter.png" class="float-left col-md-3 padding-5" width = "60" height = "60"></a>
                </div>
            </div>







        </div>
    </div>
</div>


<div class="gap"></div>
<ng-include src = "'./templates/footer.tpl.html'"></ng-include>





