<div class="row">
    <div class="col-md-12">
        <div class="search-message cw-text highlight-dark">
            My Order
            <!--<span class="float-right" style="font-size: 10px; margin-top : 7px;">[clear all filters]</span>-->
        </div>
        <!--<div class="text-middle"><span class="">Order Summary</span>-->
            <!--&lt;!&ndash;<a style="float: right;" ng-click="editOrder()" title = "Edit your Order" href><i class="fa fa-pencil-square-o fa-lg"></i></a>&ndash;&gt;-->
        <!--</div>-->
        <!--<p class="text-middle" ng-controller="locationSearchController">Delivery location : {{selectedLocality.name}},Gurgaon</p>-->
    </div>

</div>
<div class="gap gap-mini"></div>
<div ng-if = "orders.length < 1">
    <h4 class="col-md-12 text-middle text-dark-grey">No packages selected</h4>
</div>
<!--<div ng-if = "orders.length >= 1" class="row">-->
    <!--<div class="col-md-5">Package</div>-->
    <!--<div class="col-md-3">Quantity</div>-->
    <!--<div class="col-md-3">Price(&#8377;)</div>-->
    <!--<div class="col-md-12"><hr></div>-->
<!--</div>-->
<div class="col-md-12 text-dark-grey" ng-if = "orders.length >= 1" ng-repeat = "order in orders">
    <div class="row">
        <div class="col-md-12" ng-if = "showPackages(order[2].type)">
            <div class="row">
                <div class="col-md-8 padding-5 pointer" ng-click="isCollapsed = !isCollapsed"><span ng-show = "isCollapsed"><i class="fa fa-caret-right"> </i> </span> <span ng-show = "!isCollapsed"><i class="fa fa-caret-down"> </i> </span> {{order[2].name}}  By <span class="bold">{{order[1].name}}</span></div>
                <div class="col-md-3 padding-5">Rs. {{order[2].price * order[6]}}</div>
                <div class="col-md-1 padding-5"><a href ng-click = "removeItem(order)"><i class="fa fa-times"></i></a></div>
                <!--<div class="gap gap-tiny"></div>-->
                <!--<div class="col-md-12"><hr></div>-->
                <div uib-collapse="isCollapsed">
                    <div class=" col-md-12 row" ng-repeat="item in order[2].packageDetails">
                    <div class="">
                        <div class="col-md-12">
                            <span class="bold">- {{item.name}}</span><a ng-if="item.has_options" href ng-controller="hotelPackagesController" ng-click="open(item,order[4])"> <i class="fa fa-pencil"> </i></a>
                            <!--<hr style="margin-top: 5px;margin-bottom : 10px;">-->
                        </div>
                        <span class="col-md-12" ng-repeat="itemOption in order[4][item.id]" ng-if="item.has_options">
                            <span class="col-md-12" ng-repeat="itemOptionList in itemOption">
                                <!--<div class="row">-->
                                    <span class="selected_package_items">{{ order[3][item.id][itemOptionList.menu_item_option_id]}} : {{itemOptionList.name}}   <span  class="" ng-if = "itemOptionList.price" >
                                        (Rs. {{itemOptionList.price}})
                                    </span> </span>

                                <!--</div>-->
                            </span>
                        </span>
                        <div class="gap gap-mini"></div>
                        <div class="col-md-12"><hr style="margin-top: 5px; margin-bottom: 5px;"></div>
                    </div>
                </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">Quantity : </div>
                    <div class="col-md-6">
                        <span class="pointer" ng-click="decreaseQty(order)"><i class="fa fa-minus-circle"></i></span>
                        <span class="text-middle">{{order[6]}}</span>
                        <span class="pointer" ng-click="increaseQty(order)"><i class="fa fa-plus-circle"></i></span>
                    </div>
                    <!--<div style="clear: both"></div>-->
                </div>
                <div class="col-md-12" ng-if = "order[8][0].vat_rate > 0" >
                    <div class="col-md-6">
                        Add On Price:
                    </div>
                    <div class="col-md-6 ">
                        {{order[5]*order[6]}}
                    </div>
                </div>
                <!--{{order[8]}}-->
                <div class="col-md-12" ng-if = "order[8][0].vat_rate > 0" >
                    <div class="col-md-6">
                        VAT:
                    </div>
                    <div class="col-md-6 ">
                        {{order[8][0].vat_rate * 100 + '%'}}
                    </div>
                </div>
                <div class="col-md-12" ng-if = "order[8][0].service_tax_rate > 0" >
                    <div class="col-md-6">
                        Service Tax:
                    </div>
                    <div class="col-md-6 ">
                        {{order[8][0].service_tax_rate * 100 + '%'}}
                    </div>
                </div>
                <div class="col-md-12" ng-if = "order[8][0].service_charge_rate > 0" >
                    <div class="col-md-6">
                        Service Charge:
                    </div>
                    <div class="col-md-6 ">
                        {{order[8][0].service_charge_rate * 100 + '%'}}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        Total Price:
                    </div>
                    <div class="col-md-6 ">
                       Rs. {{order[9]}}
                    </div>
                </div>
                <!--<div class="col-md-12">-->
                    <!--<div class="col-md-3">Total :</div>-->
                    <!--<div class="col-md-6">-->
                        <!--<div class="pointer" ng-click="decreaseQty(order)"><i class="fa fa-minus-circle"></i></div>-->
                        <!--<div class="">{{order[6]}}</div>-->
                        <!--<div class="pointer " ng-click="increaseQty(order)"><i class="fa fa-plus-circle"></i></div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<div class="co-md-2"></div>&ndash;&gt;-->
                    <!--<div class="col-md-2">{{order[6] * (order[2].price)}}</div>-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <div class="gap gap-mini"></div>
            </div>


           <div class="row"><div class="col-md-12"><hr style="margin-top: 5px; margin-bottom: 5px;"></div></div>
        </div>
    </div>


    <!--<div ng-if="showAlacarte(order[2].type)">-->
        <!--&lt;!&ndash;{{odr[2].name}}&ndash;&gt;-->
        <!--<div class="row">-->
                    <!--<div class="col-md-5">{{order[3].name}}-->
                    <!--</div>-->
            <!--<div class="col-md-3"><a href ng-click="decreaseQty(order)"><i class="fa fa-minus-circle"></i></a>{{order[4]}}<a href ng-click = "increaseQty(order)"><i class="fa fa-plus-circle"></i></a></div>-->
            <!--<div class="col-md-2">{{order[3].price * order[4]}}</div>-->
            <!--<div class="col-md-1"><a href ng-click = "removeItem(order)"><i class="fa fa-times"></i></a></div>-->
        <!--</div>-->
        <!--By {{order[1].name}}-->
        <!--<div class="row"><div class="col-md-12"><hr></div></div>-->
        <!--&lt;!&ndash;AddOn's Price - {{}}&ndash;&gt;-->
        <!--&lt;!&ndash;Tax - {{}}&ndash;&gt;-->
        <!--&lt;!&ndash;Total Price - {{}}&ndash;&gt;-->
    <!--</div>-->

    <!--</div>-->
</div>
<div class="col-md-12" ng-if = "orders.length >= 1">
    <div class="row padding-10">
    <div class="font15">
        <div class="float-left">Subtotal</div>
        <div class="float-right">Rs. {{total.subTotal}}</div>
    </div>
    <div style="clear: both"></div>
    <div class="font15">
        <div class="float-left">Taxes</div>
        <div class="float-right">Rs. {{total.totalTax}}</div>
    </div>
    <div style="clear: both"></div>
    <div class="font15 highlight-dark bold padding-5 height40">
        <div class="float-left">TOTAL ORDER</div>
        <div class="float-right">Rs {{total.totalAmount}}</div>
    </div>
    </div>
</div>
