<div class="row">
    <div class="col-md-12">
        <div class="search-message cw-text highlight-dark">
            My Order
        </div>
    </div>

</div>
<div class="gap gap-mini"></div>
<div ng-if = "isBagEmpty()">
    <h4 class="col-md-12 text-middle text-dark-grey">No packages selected</h4>
</div>
<div class="col-md-12 text-dark-grey" ng-if = "!isBagEmpty()" ng-repeat = "(restId,rest) in orders">
    <div class="row" ng-repeat="menu in rest.menus">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8 padding-5 pointer" ng-click="isCollapsed = !isCollapsed"><span ng-show = "isCollapsed"><i class="fa fa-caret-right"> </i> </span> <span ng-show = "!isCollapsed"><i class="fa fa-caret-down"> </i> </span> {{menu.name}} </div>
                <span class="col-md-3 padding-5">Rs. {{menu.price_per_package}}</span>
                <span class="" ng-class="{'col-md-1 padding-5' : $root.width > 992,'float-right padding-10' : $root.width < 992}"><a href ng-click = "removeItem(menu,rest.menus,restId)"><i class="fa fa-times"></i></a></span>
                <!--<div class="gap gap-tiny"></div>-->
                <!--<div class="col-md-12"><hr></div>-->
                <div uib-collapse="isCollapsed">
                    <div class=" col-md-12 row" ng-repeat="(menuItemId,menuItem) in menu.items">
                    <div class="">
                        <div class="col-md-12">
                            <span class="bold">- {{menuItem.name}}</span><a ng-if="menuItem.categories" href ng-click="openEditItemModal(menuItem,menuItemId,menu.id,menu.items,restId)"> <i class="fa fa-pencil"> </i></a>
                        </div>
                        <span class="col-md-12" ng-repeat="category in menuItem.categories" ng-if="menuItem.categories">
                            <span class="col-md-12" ng-repeat="option in category.options">
                                    <span class="selected_package_items">{{category.name}} : {{option.name}}   <span  class="" ng-if = "option.price > 0" >
                                        (Rs. {{option.price}})
                                    </span> </span>
                            </span>
                        </span>
                        <div class="gap gap-mini"></div>
                        <div class="col-md-12"><hr style="margin-top: 5px; margin-bottom: 5px;"></div>
                    </div>
                </div>
                </div>
                <div class="col-md-12">
                    <span class="col-md-6">Quantity : </span>
                    <span class="col-md-6">
                        <span class="pointer" ng-click="decreaseQty(menu)"><i class="fa fa-minus-circle"></i></span>
                        <span class="text-middle">{{menu.order_package_count}}</span>
                        <span class="pointer" ng-click="increaseQty(menu)"><i class="fa fa-plus-circle"></i></span>
                    </span>
                    <!--<div style="clear: both"></div>-->
                </div>
                <div class="gap gap-mini"></div>
            </div>
           <div class="row"><div class="col-md-12"><hr style="margin-top: 5px; margin-bottom: 5px;"></div></div>
        </div>
    </div>
    <span class="bold text-dark-grey">By {{rest.name}}</span>
    <div class="col-md-12" ng-if = "rest.additionalPrice > 0" >
                    <span class="col-md-6">
                        Add On Price:
                    </span>
                    <span class="col-md-6 ">
                        {{rest.additionalPrice}}
                    </span>
    </div>
    <div class="col-md-12" ng-if = "rest.vat_rate > 0" >
                    <span class="col-md-6">
                        VAT:
                    </span>
                    <span class="col-md-6 ">
                        {{rest.vat_rate * 100 + '%'}}
                    </span>
    </div>
    <div class="col-md-12" ng-if = "rest.service_tax_rate > 0" >
                    <span class="col-md-6">
                        Service Tax:
                    </span>
                    <span class="col-md-6 ">
                        {{rest.service_tax_rate * 100 + '%'}}
                    </span>
    </div>
    <div class="col-md-12" ng-if = "rest.service_charge_rate > 0" >
                    <span class="col-md-6">
                        Service Charge:
                    </span>
                    <span class="col-md-6 ">
                        {{rest.service_charge_rate * 100 + '%'}}
                    </span>
    </div>
    <div class="col-md-12">
                    <span class="col-md-6">
                        Total Price:
                    </span>
                    <span class="col-md-6 ">
                       Rs. {{rest.total_amount}}
                    </span>
    </div>
</div>
<div class="col-md-12" ng-if = "!isBagEmpty()">
    <div class="row padding-10">
    <div class="font15">
        <div class="float-left">Subtotal</div>
        <div class="float-right">Rs. {{total.subTotal}}</div>
    </div>
    <div style="clear: both"></div>
    <div class="font15">
        <div class="float-left">Taxes</div>
        <div class="float-right">Rs. {{total.totalTax}}</div>
    </div>
    <div style="clear: both"></div>
    <div class="font15 highlight-dark bold padding-5 height40">
        <div class="float-left">TOTAL ORDER</div>
        <div class="float-right">Rs {{total.totalAmount}}</div>
    </div>
    </div>
</div>
