<div ng-include = "'./templates/header.tpl.html'"></div>
<div class="gap"></div>
<section id="host-enjoy" class="parallax parallax-image light-bg" style="background-color: #ffffff; background-image:url('./images/space-desk-workspace-coworking.jpg');">
    <div class="overlay"></div>
    <div class="container animated fade_ani" id = "choose">
        <div  class="parallax-content">
            <div class="row">
                <p class="text-middle padding-10 font35 bold" style="margin-top: 60px; line-height: 50px; "><span class="bg-red padding-5">We'll deliver to your office, too.</span></p>
                <div class="center">
                    <div class="text-middle padding-10 cw-text text-dark-grey" style="width : 700px;margin-bottom: 60px; background-color : rgba(255,255,255,0.85);">Organising lunch for the team? Need food for thought at a meeting? <br> We have a team of specialists whose mission is to take the hassle out of <br>doing just that. Just get in touch and we'll take care of it.
                        <br>
                        <button class="btn btn-primary my-btn margin-center-27">Get in touch</button>
                    </div>
                </div>
            </div>
        </div> <!-- .parallax-content -->
    </div>
</section>

<div class="container">
    <div class="row">
       <div class="gap"></div>
        <div class="font25 text-dark-grey text-middle">
            At CaterWow, we provide companies with easy options to customize meals for Meetings, Office lunches, Client Visits or other Employee engagement activity. We’re simplifying the process of ordering and paying for Group meals.
        </div>
        <div class="gap"></div>
        <div class="cw-text text-dark-grey text-left">
            From setting up your account to making sure each food delivery is flawless, we are always on the lookout for ways to make online food ordering for business easy and efficient.
        </div>
        <div class="gap gap-mini"></div>
         <!--<div class="col-md-12">-->
            <div class="col-md-5">
                <div class="form-group">
                    <input type = "text" placeholder = "Name" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type = "email" placeholder = "Contact Email address" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type = "text" placeholder = "Contact Number" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type = "text" placeholder = "Company Name" class="form-control" required>
                </div>
                <div class="form-group">
                    <textarea placeholder = "Company Address" class="form-control" required></textarea>
                </div>
                <button class="btn btn-primary my-btn">Submit</button>
            </div>
         <!--</div>-->
    </div>
</div>


<div class="gap"></div>

<ng-include src = "'./templates/footer.tpl.html'"></ng-include>