<div ng-include = "'templates/header.tpl.html'"></div>
<div ng-include="'./templates/alert.tpl.html'"></div>
<!--<div ng-include = "'templates/searchBar.tpl.html'"></div>-->
<div class="navbar bg-red noLocalityMessage" ng-controller="locationSearchController" ng-if = "!searchDetails.selectedLocality.id">
    <div class="container">
        <!--<div class="">-->
            <div class="row font25 text-middle">
                <div class="col-md-12">Locate yourself to start your order at this restaurant.</div>
                <div class="col-md-offset-2 col-md-6">
                    <div class="input-group ">
                        <div class="input-group-btn">
                            <button type="button"  class="btn height40 btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Gurgaon
                            </button>
                        </div><!-- /btn-group -->
                        <input type="text" class="form-control height40" ng-model="locality"  typeahead-show-hint="true"  typeahead-min-length="0"  uib-typeahead="locality as locality.name for locality in localities | filter:$viewValue" placeholder="Enter Locality">
                    </div><!-- /input-group -->
                </div>
                <div class="col-md-2">
                <button class="btn full-width btn-primary height40 my-btn" ng-click = "searchDetails.selectedLocality = locality">Update</button>
                </div>
                <div class="gap gap-tiny"></div>
            </div>
        <!--</div>-->
    </div>
</div>
<div class="gap gap-big" ng-if = "!searchDetails.selectedLocality.id"></div>
<!--<div class="gap gap-tiny"></div>-->
<div class="gap"></div>
<div class="container" ng-if = "$root.width > 992">
    <!--<div class = "row">-->
    <ol class="breadcrumb" style="margin-top: 10px;">
        <li class="bold pointer" ui-sref="home" >Home</li>
        <li class="bold pointer" ui-sref="search">Browse Restaurants & Caterers in {{searchDetails.selectedLocality.name}}</li>
        <li class="text-red">Customize packages from {{restaurant.name}}</li>
        <li>Confirm Order</li>
    </ol>
    <!--</div>-->
</div>
<div class="gap gap-small" ng-if = "$root.width < 992">
    <div class="container">
        <button class="btn btn-primary my-btn" style="width : 100%" ng-click="isOrderBoxCollapsed = false" >Order Summary</button>
        <!--<button class="btn btn-primary my-btn" style="width : 49%" ng-click="isDateTimeBoxCollapsed = false">Update Date & Time</button>-->
    </div>
    <div class="white-background-box row no-padding" ng-init="isOrderBoxCollapsed = true" uib-collapse="isOrderBoxCollapsed" ng-class="{'orderSidebar darkShadow' : $root.width < 992}" >
        <div class="text-right pointer" ng-click = "isOrderBoxCollapsed = true">Close(X)</div>
        <div ng-controller="orderController">
            <ng-include src = "'./templates/orderSidebar.tpl.html'"></ng-include>
            <div class="col-md-12 padding-10">
                <button ng-click="checkout()" style="width : 100%" ng-if = "orders.length >= 1" class="btn btn-primary my-btn bold">Proceed to Order</button>
            </div>
        </div>
        <div class="col-md-12">
            <div class="bold underline text-dark-grey" style="font-size: 14px;">NO PAYMENT REQUIRED RIGHT NOW</div>
            <div class="bold text-dark-grey" style="font-size: 11px; padding-bottom:10px">Upon confirmation of order, our team will get in touch with you to collect 30% advance payment</div>
        </div>
    </div>
</div>
<div class="container-fluid" ng-style="{'background-image': 'url('+ restaurant.mast_photo + ')'}" style="height : 300px;">
    <div class="container" style="margin-top: 46px">
        <div class="row">
            <div class="col-md-7">
                <div class="row" ng-class="{'restaurant-small-box2' : $root.width < 992,'restaurant-small-box': $root.width > 992}">

                    <div class="col-md-12">
                        <div class="">
                            <div>
                                <a class="font25 text-capitalize text-black" ui-sref="restaurant.packages({id : restaurant.id})">{{restaurant.name}}</a>
                                <p class="restaurant-des font15 text-capitalize italic text-black">{{restaurant.short_description}}</p>
                            </div>
                        </div>
                        <div class="float-right" ng-if = "restaurant.avg_rating > 0">
                            <div>
                                <uib-rating ng-model="rate" ng-init="rate = restaurant.avg_rating" max="5" readonly="true" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
                            </div>
                            <p><a class="rating padding-5" ui-sref="restaurant.reviews({id : restaurant.id})">[{{restaurant.review_count}} Reviews]</a></p>
                        </div>
                    </div>
                    <div class="col-md-12"><hr class="bg-darke-grey" style="margin-top : 2px;margin-bottom: 7px;"></div>
                    <!--<div >-->
                        <!--<div class="">-->
                            <img class="col-md-3" ng-class="{'float-left' : $root.width < 992}"  ng-src= "{{imagesPath + restaurant.profile_photo}}" width = "145" height="95">
                        <!--</div>-->
                    <!--</div>-->
                    <div class="" ng-class="{'' : $root.width < 992,'col-md-9' : $root.width > 992}">
                        <div class="bold font15 text-black">{{restaurant.cuisines}}</div>
                        <div class="text-black"  style="font-size: 14px">Price (per person): {{restaurant.min_package_price}} - {{restaurant.max_package_price}}</div>
                        <div class="gap gap-mini"></div>
                        <div class=""><hr class="bg-light-grey" style="margin-top: 5px;margin-bottom: 5px;"></div>
                        <div class="">
                            <div class="float-left text-black bold" style="line-height: 30px; font-size: 14px">{{restaurant.min_order_count}} packages min.  | <span class="text-green">FREE Delivery</span></div>
                            <!--<div class="float-right"><button class="btn btn-primary" ui-sref="restaurant.packages({id : restaurant.restaurant_id})">View Packages</button></div>-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container" ng-if = "$root.width < 992">
    <div class="row">
        <div class="white-background-box row" ng-controller="locationSearchController">
            <div ng-init = "editDetails = !searchDetails.date || !searchDetails.time">
                <div ng-show = "editDetails == true">
                    <span><span class="text-red bold">Please Update date and time</span> of your event to know the availability of the restaurant</span>
                    <div class="input-group no-padding">
                            <span class="input-group-btn" >
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                            </span>
                        <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" id = "date" ng-model="searchDetails.date" is-open="status.opened" placeholder="Event Date" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    </div>
                    <select class="form-control col-md-6" ng-options="n for n in times" ng-model="searchDetails.time"><option value = "" disabled selected>Event Time</option></select>
                    <button class="btn btn-primary myBtn" ng-click = "editDetails = false">Update</button>

                </div>
                <div ng-show = "editDetails == false" >
                    <span>Restaurant available</span>
                    <div class="input-group no-padding">
                            <span class="input-group-btn" >
                            <button type="button" class="btn btn-default" disabled ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                            </span>
                        <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" disabled id = "date" ng-model="searchDetails.date" is-open="status.opened" placeholder="Event Date" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    </div>
                    <span>{{searchDetails.time}}</span>
                    <span class="pointer" ng-click="editDetails = true"><i class="fa fa-pencil"></i> Edit</span>
                </div>


            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="gap gap-mini"></div>
            <div class="row">
                <div class="col-md-12">
            <div class="col-md-6 no-left-padding">
                <div ui-sref ="restaurant.packages" class="cw-text res-view-btns" ng-class="{'active-menu' : $state.includes('restaurant.packages'),'text-middle' : $root.width < 992,'text-left' : $root.width > 992}"  >Packages</div>
            </div>
            <div class="col-md-3 no-left-padding">
                <div ui-sref ="restaurant.reviews" class="cw-text text-middle res-view-btns text-dark-grey" ng-class="{'active-menu' : $state.includes('restaurant.reviews')}">Reviews</div>
            </div>
            <div class="col-md-3 no-left-padding">
                <div ui-sref ="restaurant.about" class="cw-text text-middle res-view-btns text-dark-grey" ng-class="{'active-menu' : $state.includes('restaurant.about')}">Restaurant Info</div>
            </div>
                </div>
            </div>
            <div class="gap gap-tiny"></div>
            <div class="restaurant-tabs-content" ui-view></div>

        </div>
        <div class="col-md-3">
            <div class="white-background-box row no-padding" ng-init = "editDetails = !searchDetails.date || !searchDetails.time" ng-if = "$root.width > 992" ng-controller="locationSearchController">
                <div class="search-message cw-text highlight-dark" >
                    Event Date & Time  <span class="pointer float-right" ng-if = "!editDetails" ng-click="$parent.editDetails = true"><i class="fa fa-pencil"></i></span>
                </div>
                <div class="col-md-12" ng-show = "editDetails == true">
                        <span><span class="bold text-red">Please Update date and time</span> of your event to know the availability of the restaurant</span>
                        <div class="input-group padding-10">
                            <span class="input-group-btn" >
                            <button type="button" class="height40 btn btn-default" ng-click="openDatePicker($event)"><i class="fa fa-calendar"></i></button>
                            </span>
                            <input type="text" class="form-control height40" uib-datepicker-popup="dd-MMMM-yyyy" id = "date" ng-model="searchDetails.date" ng-click="datePickerStatus.opened = true" is-open="datePickerStatus.opened" placeholder="Event Date" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        </div>
                        <div class="padding-10">
                            <select class="form-control height40" ng-options="n for n in times" ng-model="searchDetails.time"><option value = "" disabled selected>Event Time</option></select>
                        </div>
                        <div class="padding-10 center">
                            <button class="btn btn-primary myBtn height40" ng-click = "editDetails = false">Update</button>
                        </div>
                    </div>

                <div class="col-md-12" ng-show = "editDetails == false" >
                        <!--<div class="font20 text-middle">Restaurant available </div>-->
                        <div class="font15 padding-10 text-middle">
                            <div>Order for :</div>
                           {{searchDetails.date | date : 'dd-MMMM-yyyy'}}  {{searchDetails.time}}
                            <!--<input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" disabled id = "date" ng-model="searchDetails.date" is-open="status.opened" placeholder="Event Date" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />-->
                        </div>
                    </div>

            </div>
            <div class="white-background-box row no-padding"  ng-if = "$root.width > 992" ng-controller="orderController" >
                <ng-include src = "'./templates/orderSidebar.tpl.html'"></ng-include>
                <div class="col-md-12 padding-10">
                    <button ng-click="checkout()" style="width : 100%" ng-if = "orders.length >= 1" class="btn btn-primary my-btn bold">Proceed to Order</button>
                </div>
                <div class="col-md-12">
                    <div class="bold underline text-dark-grey" style="font-size: 14px;">NO PAYMENT REQUIRED RIGHT NOW</div>
                    <div class="bold text-dark-grey" style="font-size: 11px; padding-bottom:10px">Upon confirmation of order, our team will get in touch with you to collect 30% advance payment</div>
                </div>
            </div>
            <div ng-include = "'./templates/helpBox.tpl.html'" ng-if = "$root.width > 992"></div>
        </div>
    </div>
</div>
<div class="gap"></div>
<ng-include src = "'./templates/footer.tpl.html'"></ng-include>





