<header ng-controller = "locationSearchController">
    <nav class="navbar bg-red location-search-bar" >
        <div class="container" >
            <div class = "row">
                <div class="col-md-1 font20 hide1100" style="line-height: 35px;">
                    Order For :
                </div>
                <div class="col-md-4">
                    <div class="input-group search-bar-fields">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Gurgaon <span class="caret"></span>
                            </button>
                            <!--<ul class="dropdown-menu">-->
                            <!--<li ng-repeat="city in cities">{{city.name}}</li>-->
                            <!--</ul>-->
                        </div><!-- /btn-group -->
                        <input type="text" class="form-control" ng-model="selectedLocality" uib-typeahead="locality as locality.name for locality in localities | filter:$viewValue | limitTo:8" placeholder="Enter Locality">
                    </div><!-- /input-group -->
                </div>
                <div class = "col-md-2">
                    <select class="form-control search-bar-fields" ng-options="n+' persons' for n in [] | range:10:75" ng-model="numberOfPersons"></select>
                </div>
                <!--<div class = "col-md-2">-->
                    <div class="col-md-2">
                    <div class="input-group search-bar-fields">
                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                                            </span>
                        <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" id = "date" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />

                    </div>
                    </div>
                <!--</div>-->
                <div class = "col-md-2 ">
                    <select class="form-control search-bar-fields" ng-options="n for n in times"  ng-model="mytime"><option value = "" disabled selected>Event Time</option></select>
                </div>
                <div class = " col-md-1">
                    <button class=" btn btn-primary search-update-btn search-bar-fields font20" ng-click="updateLocation()">Update</button>
                </div>
                <!--</div>-->
                <!--<div class = "col-md-1  cart" ng-controller="orderController">-->
                    <!--<button href ng-click="open()" class = "btn btn-primary"><i class = "fa fa-shopping-bag"></i></button>-->
                    <!--<ng-include src = "'templates/modalTemplates/orderModal.tpl.html'"></ng-include>-->
                <!--</div>-->
            </div>
        </div>
    </nav>

</header>