<div ng-include = "'templates/header.tpl.html'"></div>

<div class="container" style="margin-top: 75px">
    <div class="row">
        <div class="col-md-9">
            <div class="row white-background-box">
                <div class="headingBig col-md-12">
                    Fill in Your Details
                    <hr>
                </div>

                <div class="col-md-12">
                    <form ng-submit = "placeOrder()">
                        <div class="form-group col-md-6">
                            <div class="input-group ">

                                <input type="text" class="form-control" name="fname" value="" placeholder="First name" aria-describedby="basic-addon2" ng-model="cust.first_name" ng-class="{'has-error' : error.first_name}" ng-required = "true">
                                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-fw fa-user"></i></span>
                            </div>
                            <span ng-show="error.first_name" class="help-block">{{error.first_name}}</span>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="input-group ">
                                <input type="text" class="form-control" name="lname"  value="" placeholder="Last name" aria-describedby="basic-addon2" ng-model="cust.last_name" ng-class="{'has-error' : error.last_name}" ng-required = "true">
                                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-fw fa-user"></i></span>
                            </div>
                            <span ng-show=" error.last_name" class="help-block">{{error.last_name}}</span>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="input-group">
                                <input type="text" class="form-control" name="phone" maxlength="10" ng-required = "true" value="" placeholder="Phone number(10 digits)" aria-describedby="basic-addon2" ng-model="cust.phone" ng-class="{'has-error' : error.phone}" ng-required = "true">
                                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-fw fa-phone"></i></span>
                            </div>
                            <span ng-show="error.phone" class="help-block">{{error.phone}}</span>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="input-group">
                                <input type="email" class="form-control" name="email_login" value="" placeholder="Email address" aria-describedby="basic-addon2" ng-model="cust.email" ng-class="{'has-error' : error.email}" ng-required = "true">
                                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-fw fa-envelope"></i></span>
                            </div>
                            <span ng-show="error.email" class="help-block">{{error.email}}</span>

                        </div>
                        <div class="form-group col-md-12">
                            <!--<div class="input-group">-->
                            <textarea class="form-control" name="address" placeholder="Delivery Address" ng-model="cust.address" ng-class="{'has-error' : error.address}" ng-required = "true"></textarea>
                            <!--<span class="text-middle" ng-controller="locationSearchController">Delivery locality : {{selectedLocality.name}},Gurgaon</span>-->
                            <!--<span class="input-group-addon" id="basic-addon2"><i class="fa fa-fw fa-lock"></i></span>-->
                            <!--</div>-->
                            <!--<span ng-show="home.errors.register_password" class="help-block">{{home.errors.register_password}}</span>-->
                        </div>
                        <!--<div class="form-group col-md-6"  ng-if = "searchDetails.date" >-->
                        <!--<span class="form-control" >{{searchDetails.date}}</span>-->
                        <!--</div>-->
                        <!--<div class="form-group col-md-6" ng-if = "searchDetails.time">-->
                        <!--<span class="form-control" >{{searchDetails.time}}</span>-->
                        <!--</div>-->
                        <div class="form-group col-md-6"  >
                            <div class="input-group search-bar-fields" ng-controller="locationSearchController">
                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="fa fa-calendar"></i></button>
                                            </span>
                                <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" id = "date" ng-click="datePickerStatus.opened = true" ng-model="searchDetails.date" ng-class="{'has-error' : error.date}" is-open="status.opened" min-date="minDate" max-date="maxDate"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />

                            </div>
                        </div>
                        <div class="form-group col-md-6" >
                            <select class="form-control search-bar-fields" ng-options="n for n in times" ng-controller="locationSearchController" ng-model="searchDetails.time" required><option value = "" disabled selected>Event Time</option></select>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="form-control">{{searchDetails.selectedLocality.name}}</span>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="form-control">Gurgaon</span>
                        </div>
                        <div class="form-group col-md-6">
                            <input class="form-control" ng-model="cust.landmark" placeholder="Landmark">
                        </div>
                        <div class="form-group col-md-6">
                            <input class="form-control" ng-model="cust.pincode" placeholder = "pincode" ng-class="{'has-error' : error.pincode}" ng-required = "true">
                        </div>
                        <div class="form-group col-md-12">
                            <!--<div class="input-group">-->
                            <textarea class="form-control" name="instructions" placeholder="Instructions" ng-model="cust.instruction"></textarea>
                            <!--<span class="input-group-addon" id="basic-addon2"><i class="fa fa-fw fa-lock"></i></span>-->
                            <!--</div>-->
                            <!--<span ng-show="home.errors.register_password" class="help-block">{{home.errors.register_password}}</span>-->
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="submit" style="display:block; width:100%;"  ng-disabled = "disableOrder" class="btn btn-primary">Confirm Order</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="white-background-box row no-padding" ng-controller="orderController">
                <ng-include src = "'./templates/orderSidebar.tpl.html'"></ng-include>
                <!--<div class="col-md-12">-->
                <!--&lt;!&ndash;<button ng-click="checkout()" style="width : 100%" ng-disabled = "orders.length < 1" class="btn btn-primary">Continue to Checkout</button>&ndash;&gt;-->
                <!--</div>-->
                <div class="col-md-12">
                    <div class="bold underline text-dark-grey" style="font-size: 14px;">NO PAYMENT REQUIRED RIGHT NOW</div>
                    <div class="bold text-dark-grey" style="font-size: 11px; padding-bottom:10px">Upon confirmation of order, our team will get in touch with you to collect 30% advance payment</div>
                </div>
            </div>
            <div ng-include = "'./templates/helpBox.tpl.html'"></div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="orderCompletion.html">

    <div class="modal-header">
        <h3 class="modal-title">Congratulations</h3>
    </div>
    <div class="modal-body">

        <h1>your order has been completed successfully your order id is {{order_id}}</h1>
        <!--<div class="white-background-box">-->
        <!--{{orderObject}}-->
        <!--</div>-->

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click = "home()">Go to Home</button>
        <!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
    </div>
</script>

<script type="text/ng-template" id="orderError.html">

    <div class="modal-header">
        <h3 class="modal-title">Error</h3>
    </div>
    <div class="modal-body">

        <div class="text-dark-grey text-middle font25 padding-10">Oops! There was an error in placing your order. We are looking into it immediately.
            Meanwhile, do call us directly on +919999043970 to place your order over phone.</div>
        <!--<div class="white-background-box">-->
        <!--{{orderObject}}-->
        <!--</div>-->

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="home()">Go to Home</button>
        <!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
    </div>
</script>