<div ng-include = "'./templates/header.tpl.html'"></div>
<div ng-include = "'./templates/searchBar.tpl.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="white-background-box row" ng-controller="orderController">
                <h3>Edit Your Order</h3>
                <p class="" ng-controller="locationSearchController">Delivery location : {{selectedLocality.name}},Gurgaon</p>
                <hr>

                <div class="row">
                    <div class="col-md-2 text-middle">Package Name</div>
                    <div class="col-md-2 text-middle">Restaurant</div>
                    <div class="col-md-2 text-middle">Package Type</div>
                    <div class="col-md-2 text-middle">Quantity</div>
                    <div class="col-md-2 text-middle">Total Price</div>
                    <div class="col-md-12"><hr></div>
                </div>
                <div ng-repeat = "order in orders">
                    <div>
                        <div ng-if = "showPackages(order[2].type)">
                            <div class="row">
                                <span class="col-md-6">{{order[2].name}}</span>
                                <span class="col-md-2"> X {{order[6]}}</span>
                                <span class="col-md-3">Rs. {{order[2].price * order[6]}}</span>
                                <span class="col-md-1" style = "color : red" ng-click = "removeItem(order)"><i class="fa fa-times"></i></span>
                                <div class="col-md-12"><hr></div>
                            </div>
                            <div class="row" ng-repeat="item in order[2].packageDetails">
                                <div class="col-md-12"> {{item.name}}</div>
                                <div ng-repeat="itemOption in order[4][item.id]">
                            <span ng-repeat="itemOptionList in itemOption">
                                <span class="col-md-9 selected_package_items">{{ order[3][item.id][itemOptionList.menu_item_option_id]}} - {{itemOptionList.name}}</span>
                                <span  class="col-md-3" ng-if = "itemOptionList.price" >
                                    Rs. {{itemOptionList.price}}
                                </span>
                            </span>
                                </div>
                            </div>
                            By {{order[1].name}}
                            <div class="col-md-12"><hr></div>
                        </div>

                    </div>


                    <div ng-if="showAlacarte(order[2].type)">
                        <!--{{odr[2].name}}-->
                        <div class="row">
                            <span class="col-md-2 text-middle">{{order[3].name}}</span>
                            <span class="col-md-2 text-middle">{{order[1].name}}</span>
                            <span class="col-md-2 text-middle">{{order[2].type}}</span>
                            <span class="col-md-2 text-middle">{{order[4]}}</span>
                            <span class="col-md-2 text-middle">{{order[3].price * order[4]}}</span>
                            <span class="col-md-1 text-middle"><i class="fa fa-pencil" ng-click="editItem(order)"></i></span>
                            <span class="col-md-1 text-middle" style = "color : red" ng-click = "removeItem(order)"><i class="fa fa-times"></i></span>
                        </div>
                        <div class="row"><div class="col-md-12"><hr></div></div>
                        <!--AddOn's Price - {{}}-->
                        <!--Tax - {{}}-->
                        <!--Total Price - {{}}-->
                    </div>
                </div>
                <div class="col-md-12">
                    <button ng-click="checkout()" style="width : 100%" ng-disabled = "orders.length < 1" class="btn btn-primary">Continue to Checkout</button>
                </div>


            </div>
        </div>
        <div class="col-md-4"><div ng-include = "'./templates/helpBox.tpl.html'"></div></div>
    </div>
</div>