<header>
    <nav class="navbar bg-red location-search-bar" >
        <div class="container" >
            <div class = "row">
                <div class="col-md-1 font20 hide1100" style="line-height: 35px;">
                    Order For :
                </div>
                <div class="col-md-4">
                    <div class="input-group search-bar-fields">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Gurgaon
                            </button>
                        </div>
                        <input type="text" class="form-control" ng-model="searchDetails.selectedLocality" ng-model-options="localities" typeahead-show-hint="true"  typeahead-min-length="0"  uib-typeahead="locality as locality.name for locality in localities | filter:$viewValue" placeholder="Enter Locality">
                    </div>
                </div>
                <div class = "col-md-2">
                    <select class="form-control search-bar-fields" ng-options="n+' persons' for n in [] | range:10:75" ng-model="searchDetails.pax"><option value = "" disabled selected>Persons?</option></select>
                </div>
                    <div class="col-md-2">
                    <div class="input-group search-bar-fields">
                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="fa fa-calendar"></i></button>
                                            </span>
                        <input type="text" class="form-control padding-5" uib-datepicker-popup="dd-MMMM-yyyy" id = "date" ng-click="datePickerStatus.opened = true" ng-model="searchDetails.date" is-open="datePickerStatus.opened" placeholder="Event Date" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />

                    </div>
                    </div>
                <div class = "col-md-2 ">
                    <select class="form-control search-bar-fields" ng-options="n for n in times"  ng-model="searchDetails.time"><option value = "" disabled selected>Event Time</option></select>
                </div>
                <div class = " col-md-1">
                    <button class=" btn btn-primary search-update-btn search-bar-fields font20" ng-click="filterRestaurants()">Search</button>
                </div>
            </div>
        </div>
    </nav>

</header>